<template>
  <div id="lending-help" class="lb-section">
    <div class="lb-container">
      <header class="lending-help-header">
        <h1>Why you should invest in P2P lending</h1>
        <p>Lendbox makes money lending much more safe, easy and rewarding in India. With P2P lending, you can create a seamless passive income stream with regular monthly repayments. We operate with a mission of keeping our costs low compared to traditional financial institutions by cutting out the middleman and pass all of the the savings directly to our investors who get high returns and borrowers who are charged low interest rates.</p>
      </header>
      <main class="lending-help-main">
        <div class="item" v-for="(item,index) in list" :key="index">
          <img class="bg-sml-img gears" :src="require('@/assets/images/gears.svg')" />
          <img class="bg-sml-img circle" :src="require('@/assets/images/circle.svg')" />
          <img class="bg-sml-img plus" :src="require('@/assets/images/plus.svg')" />
          <img :src="item.img" />
          <h1>{{item.label}}</h1>
          <p>{{item.text}}</p>
        </div>
      </main>
      <footer class="lending-help-footer"></footer>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      list: [
        {
          img: require("@/assets/images/StrongBorrowerScreening.svg"),
          label: "Strong Borrower Screening",
          text:
            "Every borrower at Lendbox goes through a strong screening process of over 200 data points verified by experienced underwriting professionals."
        },
        {
          img: require("@/assets/images/HigherReturns.svg"),
          label: "Higher Returns",
          text:
            "With P2P lending, you can earn better returns than most traditional investment options. Interest rates at Lendbox range between 12% - 20% depending on the risk appetite."
        },
        {
          img: require("@/assets/images/IncreaseYourPotentialearnings.svg"),
          label: "Increase Your Potential earnings",
          text:
            "Create passive income with regular monthly repayments as borrowers pay back with EMIs"
        }
      ]
    };
  }
};
</script>

<style lang="scss">
#lending-help {
  .lb-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .lending-help-header {
      margin: 0 0 2.1429rem 0;
      > h1 {
        font-family: "Muli";
        font-size: 1.4286rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #222222;
        margin: 0 0 1.4286rem 0;
      }
      > p {
        font-family: "Muli";
        font-size: 0.8571rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #8a8a8f;
      }
    }

    .lending-help-main {
      display: flex;
      flex-direction: column;
      width: 100%;

      .item {
        background-color: white;
        position: relative;
        overflow: hidden;
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 2.1429rem;
        border-radius: 0.3571rem;
        // box-shadow: 0.7143rem 0.7143rem 2.1429rem 0 rgba(0, 0, 0, 0.04);
        border: solid 0.0714rem #f5f5f5;
        margin: 0 0 1.4286rem 0;
        // align-items: center;

        &:hover {
          box-shadow: 0.7143rem 0.7143rem 2.1429rem 0 rgba(0, 0, 0, 0.04);
        }
        .bg-sml-img {
          position: absolute;
          width: auto;
          height: auto;
          &.gears {
            top: -1.4286rem;
            right: 0rem;
          }
          &.circle {
            opacity: 0.05;
            top: 18rem;
            right: 7.0714rem;
          }
          &.plus {
            opacity: 0.05;
            top: 21.5714rem;
            right: 3.5714rem;
          }
        }

        &:last-child {
          margin: 0;
        }

        > img {
          display: flex;
          align-self: center;
          height: auto;
          max-height: 10.7143rem;
          width: 70%;
          // width: 5.7143rem;
          // height: 5.7143rem;
          margin: 0 0 2.1429rem 0;
        }
        > h1 {
          font-family: "Muli";
          font-size: 1.4286rem;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: center;
          color: #222222;
          margin: 0 0 1.4286rem 0;
        }
        > p {
          font-family: "Muli";
          font-size: 0.8571rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: center;
          color: #8a8a8f;
          margin: 0 0 1.4286rem 0;

          //   &:last-child {
          //     margin: 0 0 3.5714rem 0;
          //   }
        }
        .item-buttons {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 2.1429rem 0 0 0;
          > input[type="submit"] {
            cursor: pointer;
            &:first-child {
              width: 13.9286rem;
              margin: 0 0 1.4286rem 0;
              padding: 0.8571rem 3.5714rem 0.8571rem 3.5714rem;
              border-radius: 0.3571rem;
              background-color: #1458ea;

              font-family: "Muli";
              font-size: 1.2857rem;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              text-align: center;
              color: #ffffff;
            }
            &:last-child {
              font-family: "Muli";
              font-size: 1.2857rem;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              text-align: left;
              color: #1458ea;
            }
          }
        }
      }
    }
  }
  @media only screen and(min-width:768px) {
    .lb-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .lending-help-header {
        margin: 0 0 3.5714rem 0;
        > h1 {
          font-family: "Muli";
          font-size: 1.7143rem;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: center;
          color: #222222;
          margin: 0 0 2.1429rem 0;
        }
        > p {
          font-family: "Muli";
          font-size: 1rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: center;
          color: #8a8a8f;
        }
      }

      .lending-help-main {
        display: flex;
        flex-direction: column;
        width: 100%;

        .item {
          display: flex;
          flex: 1;
          flex-direction: column;
          align-items: center;
          padding: 2.1429rem;
          border-radius: 0.3571rem;
          // box-shadow: 0.7143rem 0.7143rem 2.1429rem 0 rgba(0, 0, 0, 0.04);
          border: solid 0.0714rem #f5f5f5;
          margin: 0 0 1.4286rem 0;

          &:hover {
            box-shadow: 0.7143rem 0.7143rem 2.1429rem 0 rgba(0, 0, 0, 0.04);
          }

          &:last-child {
            margin: 0;
          }

          > img {
            display: flex;
            align-self: center;
            height: auto;
            max-height: 10.7143rem;
            width: 70%;
            // width: 4.2857rem;
            // height: 4.2857rem;
            margin: 0 0 2.1429rem 0;
          }
          > h1 {
            font-family: "Muli";
            font-size: 1.4286rem;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: center;
            color: #222222;
            margin: 0 0 1.4286rem 0;
          }
          > p {
            font-family: "Muli";
            font-size: 1rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: center;
            color: #8a8a8f;
            margin: 0 0 1.4286rem 0;

            //   &:last-child {
            //     margin: 0 0 3.5714rem 0;
            //   }
          }
          .item-buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 2.1429rem 0 0 0;
            > input[type="submit"] {
              cursor: pointer;
              &:first-child {
                width: 13.9286rem;
                margin: 0 2.1429rem 0 0;
                padding: 0.8571rem 3.5714rem 0.8571rem 3.5714rem;
                border-radius: 0.3571rem;
                background-color: #1458ea;

                font-family: "Muli";
                font-size: 1.2857rem;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                text-align: center;
                color: #ffffff;
              }
              &:last-child {
                font-family: "Muli";
                font-size: 1.2857rem;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                text-align: left;
                color: #1458ea;
              }
            }
          }
        }
      }
    }
  }
  @media only screen and(min-width:1024px) {
    .lb-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .lending-help-header {
        margin: 0 0 6.3571rem 0;
        > h1 {
          font-family: "Muli";
          font-size: 2.1429rem;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: center;
          color: #222222;
          margin: 0 0 2.1429rem 0;
        }
        > p {
          font-family: "Muli";
          font-size: 1.2857rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: center;
          color: #8a8a8f;
        }
      }

      .lending-help-main {
        display: flex;
        flex-direction: row;
        width: 100%;

        .item {
          display: flex;
          flex: 1;
          flex-direction: column;
          align-items: flex-start;
          padding: 2.1429rem;
          border-radius: 0.3571rem;
          // box-shadow: 0.7143rem 0.7143rem 2.1429rem 0 rgba(0, 0, 0, 0.04);
          border: solid 0.0714rem #f5f5f5;
          margin: 0 2.1429rem 0 0;

          &:last-child {
            margin: 0;
          }

          > img {
            display: flex;
            align-self: center;
            height: auto;
            max-height: 7.1429rem;
            width: 70%;
            margin: 0 0 2.1429rem 0;
          }
          > h1 {
            font-family: "Muli";
            font-size: 1.7143rem;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            color: #222222;
            margin: 0 0 1.4286rem 0;
          }
          > p {
            font-family: "Muli";
            font-size: 1.1429rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            color: #8a8a8f;
            margin: 0 0 1.4286rem 0;

            //   &:last-child {
            //     margin: 0 0 3.5714rem 0;
            //   }
          }
          .item-buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 2.1429rem 0 0 0;
            > input[type="submit"] {
              cursor: pointer;
              &:first-child {
                width: 13.9286rem;
                margin: 0 2.1429rem 0 0;
                padding: 0.8571rem 3.5714rem 0.8571rem 3.5714rem;
                border-radius: 0.3571rem;
                background-color: #1458ea;

                font-family: "Muli";
                font-size: 1.2857rem;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                text-align: center;
                color: #ffffff;
              }
              &:last-child {
                font-family: "Muli";
                font-size: 1.2857rem;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                text-align: left;
                color: #1458ea;
              }
            }
          }
        }
      }
    }
  }
}
</style>