<template>
  <div class="core-team lb-section">
    <div class="lb-container">
      <h1>Our Core Team</h1>
      <p></p>  
      <main class="core-main">
        <div class="member" v-for="(member,index) in members" :key="index">
          <img :src="member.img" />
          <div>
            <div class="member-name">
              <h1>{{member.name}}</h1>
              <p>{{member.desc}}</p>
            </div>

          </div>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      members: [
        {
          img: require("@/assets/images/CEO.webp"),
          name: "Ekmeet Singh",
          desc: "Co-founder and CEO, Lendbox",
          social: []
        },
        {
          img: require("@/assets/images/bhuvan.webp"),
          name: "Bhuvan Rustagi",
          desc: "Co-founder and COO, Lendbox",
          social: []
        },
        {
          img: require("@/assets/images/jatin.png"),
          name: "Jatin Malwal",
          desc: "Co-founder and CTO, Lendbox",
          social: []
        }
      ]
    };
  }
};
</script>

<style lang="scss">
.core-team {
  .lb-container {
    display: flex;
    flex-direction: column;

    > h1 {
      font-family: "Muli";
      font-size: 1.4286rem;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      color: #222222;
      margin: 0 0 1.4286rem 0;
    }
    > p {
      font-family: "Muli";
      font-size: 0.8571rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      color: #8a8a8f;
      margin: 0 0 2.1429rem 0;
    }
    .core-main {
      display: flex;
      flex-direction: column;
      align-items: center;

      .member {
        display: flex;
        flex-direction: row;
        margin: 0 0 2.1429rem 0;

        &:last-child {
          margin: 0;
        }
        > img {
          width: 9.6429rem;
          height:100%;
          margin: 0 1.4286rem 0 0;
          // background-color: #f5f5f5;
        }

        > div {
          display: flex;
          flex-direction: column;
          flex: 1;
          justify-content: space-between;

          .member-name {
            display: flex;
            flex-direction: column;
            > h1 {
              display: flex;
              margin: 0 0 0.7143rem 0;
              font-family: "Muli";
              font-size: 1.4286rem;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              text-align: left;
              color: #222222;
            }
            > p {
              display: flex;
              font-family: "Muli";
              font-size: 1.2857rem;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.28;
              letter-spacing: 0.0064rem;
              text-align: left;
              color: #8a8a8f;
            }
          }
          > .follow-icons {
            display: flex;

            > a {
              width: 1.1429rem;
              height: 1.4286rem;

              margin: 0 1.4286rem 0 0;

              &:last-child {
                margin: 0;
              }

              > img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
    @media only screen and(min-width:768px) {
      > h1 {
        font-family: "Muli";
        font-size: 1.7143rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #222222;
        margin: 0 0 2.1429rem 0;
      }
      > p {
        font-family: "Muli";
        font-size: 0.8571rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #8a8a8f;
        margin: 0 0 3.5714rem 0;
      }
      .core-main {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .member {
          display: flex;
          flex-direction: column;
          margin: 0 2.4286rem 0 0;
          align-items: center;

          &:last-child {
            margin: 0;
          }
          > img {
            width: auto;
            height: 14.3571rem;
            margin: 0;
            // background-color: #f5f5f5;
          }

          > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            justify-content: space-between;

            .member-name {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin: 0 0 1.4286rem 0;

              > h1 {
                display: flex;
                margin: 0 0 0.7143rem 0;
                font-family: "Muli";
                font-size: 1.4286rem;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                text-align: center;
                color: #222222;
              }
              > p {
                display: flex;
                font-family: "Muli";
                font-size: 1rem;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.28;
                letter-spacing: 0.0064rem;
                text-align: center;
                color: #8a8a8f;
              }
            }
            > .follow-icons {
              display: flex;

              > a {
                width: 1.1429rem;
                height: 1.4286rem;

                margin: 0 1.4286rem 0 0;

                &:last-child {
                  margin: 0;
                }

                > img {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
        }
      }
    }
    @media only screen and(min-width:1024px) {
      > h1 {
        font-family: "Muli";
        font-size: 2.1429rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #222222;
        margin: 0 0 2.1429rem 0;
      }
      > p {
        font-family: "Muli";
        font-size: 1.2857rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #8a8a8f;
        margin: 0 0 7.1429rem 0;
      }
      .core-main {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .member {
          display: flex;
          flex-direction: column;
          margin: 0 2.4286rem 0 0;
          align-items: center;

          &:last-child {
            margin: 0;
          }
          > img {
            width: auto;
            height: 16.4286rem;
            margin: 0;
            // background-color: #f5f5f5;
          }

          > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            justify-content: space-between;

            .member-name {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin: 0 0 2.1429rem 0;

              > h1 {
                display: flex;
                margin: 0 0 0.7143rem 0;
                font-family: "Muli";
                font-size: 1.7143rem;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                text-align: center;
                color: #222222;
              }
              > p {
                display: flex;
                font-family: "Muli";
                font-size: 1.2857rem;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.28;
                letter-spacing: 0.0064rem;
                text-align: center;
                color: #8a8a8f;
              }
            }
            > .follow-icons {
              display: flex;

              > a {
                width: 1.7857rem;
                height: 2.1429rem;

                margin: 0 1.4286rem 0 0;

                &:last-child {
                  margin: 0;
                }

                > img {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
</style>