<template>
  <div id="video-section" class="lb-section">
    <div class="lb-container lb-sub-container">
      <h1>How to invest in P2P Lending</h1>
      <div class="video-container">
        <iframe src="https://www.youtube.com/embed/CetDbPJ54SU" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
#video-section {
  .lb-container {
    display: flex;
    flex-direction: column;

    > h1 {
      font-family: "Muli";
      font-size: 1.4286rem;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      color: #222222;
      margin: 0 0 4.2857rem 0;
    }

    .video-container {
      position: relative;
      padding-top: 56.25%;

      > iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: 0;
      }
    }
    @media only screen and(min-width: 768px) {
      > h1 {
        font-family: "Muli";
        font-size: 1.7143rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #222222;
        margin: 0 0 4.2857rem 0;
      }

      .video-container {
        // margin: 0 7.1429rem 0 7.1429rem ;

        position: relative;
        padding-top: 56.25%;

        > iframe {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border: 0;
        }
      }
    }
    @media only screen and(min-width: 1024px) {
      > h1 {
        font-family: "Muli";
        font-size: 2.1429rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #222222;
        margin: 0 0 7.1429rem 0;
      }

      .video-container {
        margin: 0;

        height:14.2857rem;
        position: relative;
        padding-top: 56.25%;

        > iframe {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border: 0;
        }
      }
    }
  }
}
</style>