<template>
  <div id="lb-calculator" class="lb-section">
    <div class="lb-container">
      <h1>EMI Calculator</h1>
      <!-- <client-only>
          <v-chart
            :options="pie"
            :init-options="initOptions"
            ref="pie"
            autoresize
            width="100%"
            height="28.5714rem"
          />
      </client-only>-->
      <div>
        <div class="lb-calc-input">
          <div class="item">
            <h1>Amount(Rs)</h1>
            <div class="lb-silder-text">
              <div class="lb-slider">
                <v-slider
                  v-model="amtSlider"
                  class="align-center"
                  :max="amtMax"
                  :min="amtMin"
                  hide-details
                ></v-slider>
                <div class="label">
                  <p><span v-html="'&#8377;'"></span> {{20000 | currency}}
                  </p>
                  <p>
                   <span v-html="'&#8377;'"></span>
                    {{500000 | currency }}
                  </p>
                </div>
              </div>
              <p>or</p>
              <div class="lb-input">
                <div class="label">
                  <img :src="require('@/assets/svg/rupee_symbol_white.webp')" />
                </div>
                <input v-model.lazy.number="amtSlider" type="number" />
              </div>
            </div>
          </div>
          <div class="item">
            <h1>ROI(%)</h1>
            <div class="lb-silder-text">
              <div class="lb-slider">
                <v-slider
                  v-model="roiSlider"
                  class="align-center"
                  :max="roiMax"
                  :min="roiMin"
                  hide-details
                ></v-slider>
                <div class="label">
                  <p>{{12|rate}}</p>
                  <p>{{36|rate}}</p>
                </div>
              </div>
              <p>or</p>
              <div class="lb-input">
                <div class="label">
                  <img :src="require('@/assets/images/roi.svg')" />
                </div>
                <input v-model.lazy.number="roiSlider" type="number" />
              </div>
            </div>
          </div>
          <div class="item">
            <h1>Tenure(Months)</h1>
            <div class="lb-silder-text">
              <div class="lb-slider">
                <v-slider
                  v-model="tenureSlider"
                  class="align-center"
                  :max="tenureMax"
                  :min="tenureMin"
                  hide-details
                ></v-slider>
                <div class="label">
                  <p>6 Months</p>
                  <p>36 Months</p>
                </div>
              </div>
              <p>or</p>
              <div class="lb-input">
                <div class="label">
                  <img :src="require('@/assets/images/calender.webp')" />
                </div>
                <input v-model.lazy.number="tenureSlider" type="number" />
              </div>
            </div>
          </div>
        </div>
        <div class="lb-gauge">
          <div class="gauge-values">
            <div>
              <h1>Monthly EMI</h1>
              <p>
                <span v-html="'&#8377;'"></span>
                {{(calculatedemi).toFixed(0) | currency}}
              </p>
            </div>
            <div>
              <h1>Total Interest Payable</h1>
              <p>
                <span v-html="'&#8377;'"></span>
                {{totalInterestPayble.toFixed(0) | currency}}
              </p>
            </div>

            <div>
              <h1>Total Payment</h1>
              <p>
               <span v-html="'&#8377;'"></span>
                {{totalpayableAmt.toFixed(0) | currency}}
              </p>
            </div>
          </div>
          <div class="gauge-container">
            <client-only>
              <v-progress-circular
                :rotate="-90"
                :size="(width<768)? 180:300"
                :width="(width<768)? 15:20"
                :value="Number(flatRate.toFixed(2))"
                color="#ff9500"
              >
                <div class="inner-text">
                  <div>
                    <h1>Total Interest</h1>
                    <p>{{Number(flatRate.toFixed(2))|rate}}</p>
                  </div>
                  <div>
                    <h1>Principal</h1>
                    <p>{{Number(principal.toFixed(2))|rate}}</p>
                  </div>
                </div>
              </v-progress-circular>
              <!-- <vue-guage
                gauge-color="#ff9500"
                :start-angle="-45"
                :end-angle="315"
                :value="flatRate"
                :min="0"
                :max="100"
                :separator-step="0"
                :scale-interval="0"
                :inner-radius="80"
                :baseColor="'#1458ea'"
              >
                <div class="inner-text">
                  <div>
                    <h1>Total Interest</h1>
                    <p>{{Number(flatRate.toFixed(2))|rate}}</p>
                  </div>
                  <div>
                    <h1>Principal</h1>
                    <p>{{Number(principal.toFixed(2))|rate}}</p>
                  </div>
                </div>
              </vue-guage>-->
            </client-only>
          </div>
        </div>
      </div>
      <input
        type="submit"
        class="apply"
        value="Apply for Loan"
        @click="openurl('https://app.lendbox.in/signup/borrower')"
      />
    </div>
  </div>
</template>

<script>
// import VChart from "vue-echarts";
import "echarts/lib/component/tooltip";
import "echarts/lib/component/legend";
import "echarts/lib/component/title";
import "echarts/lib/component/dataset";

// import { VueSvgGauge }   from "vue-svg-gauge";
// import VueSvgGauge from 'vue-svg-gauge'

export default {
  computed: {
    calculatedemi() {
      const x = Math.pow(1 + this.roiSlider / 1200, this.tenureSlider);
      const y = Math.pow(1 + this.roiSlider / 1200, this.tenureSlider) - 1;
      const inter = x / y;
      return (this.amtSlider * this.roiSlider * inter) / 1200;
    },
    totalpayableAmt() {
      if (!this.amtSlider) return 0;
      return this.calculatedemi * this.tenureSlider;
    },
    flatRate() {
      return Number(
        ((this.totalpayableAmt - this.amtSlider) * 1200) /
          (this.amtSlider * this.tenureSlider)
      );
    },
    totalInterestPayble() {
      // return (this.amtSlider * this.flatRate) / 100;
      // console.log(this.totalpayableAmt);
      // console.log(this.totalInterestPayble);
      return this.totalpayableAmt - this.amtSlider;
    },
    principal() {
      return 100 - this.flatRate;
    }
  },
  created() {
    if (process.browser) {
      window.addEventListener("resize", this.checkWidth);
    }
  },
  mounted() {
    this.checkWidth();
  },
  destroyed() {
    if (process.browser) {
      window.removeEventListener("resize", this.checkWidth);
    }
  },

  components: {},
  data() {
    return {
      width: 0,
      initOptions: {
        renderer: "svg"
      },
      pie: {
        tooltip: {
          trigger: "item",
          show: true
        },
        legend: {
          top: 0,
          data: ["A1", "A2", "A3", "B1", "B2", "B3", "C1"]
        },

        series: [
          {
            type: "pie",
            avoidLabelOverlap: true,
            radius: ["50%", "70%"],
            label: {
              normal: {
                show: false,
                position: "center"
              },
              emphasis: {
                show: true,
                textStyle: {
                  fontSize: "30",
                  fontWeight: "bold"
                }
              }
            },
            labelLine: {
              normal: {
                show: false
              }
            },
            data: [
              {
                value: 10,
                name: "A1",
                itemStyle: { color: "#4c78a4" }
              },
              {
                value: 20,
                name: "A2",
                itemStyle: { color: "#7FABD8" }
              },
              {
                value: 30,
                name: "A3",
                itemStyle: { color: "#B2DDFC" }
              },
              {
                value: 40,
                name: "B1",
                itemStyle: { color: "#33CC33" }
              },
              {
                value: 50,
                name: "B2",
                itemStyle: { color: "#75E87F" }
              },
              {
                value: 60,
                name: "B3",
                itemStyle: { color: "#C9F4CC" }
              },
              {
                value: 80,
                name: "C1",
                itemStyle: { color: "#FFC71E" }
              }
            ]
          }
        ]
      },
      amtMin: 20000,
      roiMin: 12,
      tenureMin: 6,
      amtMax: 500000,
      roiMax: 36,
      tenureMax: 36,
      roiSlider: 24,
      amtSlider: 200000,
      tenureSlider: 12,
      gaugeValue: this.flatRate
      // range: [20000, 500000]
    };
  },

  methods: {
    openurl(link) {
      if (process.browser) {
        window.open(link, "_SELF");
      }
    },
    checkWidth() {
      if (process.browser) {
        this.width = window.innerWidth;
        // console.log(this.width);
      }
    }
  }
};
</script>

<style lang="scss">
#lb-calculator {
  .lb-container {
    display: flex;
    flex-direction: column;

    > h1 {
      font-family: "Muli";
      font-size: 1.4286rem;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      color: #222222;
      margin: 0 0 2.1429rem 0;
    }
    > div {
      display: flex;
      flex-direction: column;
      margin: 0 0 2.1429rem 0;
    }
    .lb-calc-input {
      display: flex;
      flex-direction: column;
      margin: 0 0 2.1429rem 0;

      .item {
        display: flex;
        flex-direction: column;
        margin: 0 0 2.1429rem 0;

        > h1 {
          font-family: "Muli";
          font-size: 1.2857rem;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.0064rem;
          text-align: left;
          color: #262626;
          margin: 0 0 1.4286rem 0;
        }
        .lb-silder-text {
          display: flex;
          align-items: center;
          .lb-slider {
            // display: flex;
            display: none;
            flex-direction: column;
            flex: 3;
            margin: 1.6429rem 0 0 0;

            .label {
              display: flex;
              flex: 1;
              justify-content: space-between;

              > p {
              }
            }
          }
          > p {
            margin: 0 2.1429rem 0 2.1429rem;
            display: none;
          }
          .lb-input {
            display: flex;
            flex: 1;
            height: 3.2857rem;
            border-radius: 0.3571rem;
            border: solid 0.0857rem #d1d1d1;
            overflow: hidden;

            .label {
              width: 3.5714rem;
              background-color: #1458ea;
              display: flex;
              justify-content: center;
              align-items: center;

              > img {
                width: 0.8571rem;
                height: 1.2143rem;
              }
            }
            > input[type="number"] {
              width: 100%;
              height: 100%;
              display: flex;
              flex: 1;
              padding: 0 0 0 0.7143rem;

              font-family: Muli;
              font-size: 1.1429rem;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              line-height: 2.63;
              letter-spacing: 0.0057rem;
              text-align: left;
              color: #262626;
            }
          }
        }
      }
    }
    .lb-gauge {
      background-color: white;
      display: flex;
      align-items: center;
      border-radius: 0.3571rem;
      box-shadow: 0.7143rem 0.7143rem 2.1429rem 0 rgba(0, 0, 0, 0.04);
      border: solid 0.0714rem #f5f5f5;
      padding: 1.4286rem;

      .gauge-values {
        display: flex;
        flex: 0.65;
        flex-direction: column;

        > div {
          display: flex;
          flex-direction: column;
          margin: 0 0 1.6429rem 0;

          > h1 {
            font-family: "Muli";
            font-size: 1.1429rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.0057rem;
            text-align: left;
            color: #1458ea;
            margin: 0 0 0.9286rem 0;
          }
          > p {
            font-family: "Muli";
            font-size: 1.2857rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.0064rem;
            text-align: left;
            color: #262626;
          }
        }
      }
      .gauge-container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .v-progress-circular__underlay {
          stroke: #1458ea;
        }

        .inner-text {
          display: flex;
          width: 100%;
          height: 100%;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 0 0.7143rem 0;

            > h1 {
              font-family: "Muli";
              font-size: 0.7143rem;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: 0.0036rem;
              text-align: left;
              color: #ff9500;
              margin: 0 0 0.2143rem 0;
            }
            > p {
              font-family: "Muli";
              font-size: 0.8571rem;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: 0.0043rem;
              text-align: left;
              color: #262626;
            }
            &:last-child {
              margin: 0;

              > h1 {
                color: #1458ea;
              }
            }
          }
        }
      }
    }
    .apply {
      cursor: pointer;
      border-radius: 0.3571rem;
      background-color: #1458ea;
      display: flex;
      align-self: center;
      width: 12rem;
      justify-content: center;
      align-items: center;
      padding: 0.8571rem 1.4286rem 0.8571rem 1.4286rem;

      font-family: "Muli";
      font-size: 1.2857rem;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }
    @media only screen and (min-width: 768px) {
      > div {
        margin: 0 0 3.5714rem 0;
      }
      > h1 {
        font-family: "Muli";
        font-size: 2.1429rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #222222;
        margin: 0 0 3.5714rem 0;
      }
      .lb-calc-input {
        display: flex;
        flex-direction: column;
        margin: 0 0 1.4286rem 0;

        .item {
          display: flex;
          flex-direction: column;
          margin: 0 0 2.1429rem 0;

          > h1 {
            font-family: "Muli";
            font-size: 1.4286rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.0064rem;
            text-align: left;
            color: #262626;
            margin: 0;
          }
          .lb-silder-text {
            display: flex;
            align-items: center;
            .lb-slider {
              display: flex;
              // display: none;
              flex-direction: column;
              flex: 3;
              margin: 1.6429rem 0 0 0;

              .label {
                display: flex;
                flex: 1;
                justify-content: space-between;

                > p {
                  font-family: "Muli";
                  font-size: 1.2857rem;
                  font-weight: 600;
                  font-style: normal;
                  font-stretch: normal;
                  letter-spacing: 0.0064rem;
                  text-align: left;
                  color: #666666;
                }
              }
            }
            > p {
              font-family: "Muli";
              font-size: 1.2857rem;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: 0.0064rem;
              text-align: left;
              color: #666666;
              margin: 0 2.1429rem 0 2.1429rem;
              display: block;
            }
            .lb-input {
              display: flex;
              flex: 1;
              height: 3.2857rem;
              border-radius: 0.3571rem;
              border: solid 0.0857rem #d1d1d1;
              overflow: hidden;

              .label {
                width: 3.5714rem;
                background-color: #1458ea;
                display: flex;
                justify-content: center;
                align-items: center;

                > img {
                  width: 0.8571rem;
                  height: 1.2143rem;
                }
              }
              > input[type="number"] {
                width: 100%;
                height: 100%;
                display: flex;
                flex: 1;
                padding: 0 0 0 0.7143rem;

                font-family: Muli;
                font-size: 1.1429rem;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 2.63;
                letter-spacing: 0.0057rem;
                text-align: left;
                color: #262626;
              }
            }
          }
        }
      }
      .lb-gauge {
        display: flex;
        align-items: center;
        border-radius: 0.3571rem;
        box-shadow: 0.7143rem 0.7143rem 2.1429rem 0 rgba(0, 0, 0, 0.04);
        border: solid 0.0714rem #f5f5f5;
        padding: 2.1429rem;

        .gauge-values {
          display: flex;
          flex: 1.2;
          flex-direction: column;
          margin: 0 5px 0 0;

          > div {
            display: flex;
            flex-direction: column;
            margin: 0 0 1.6429rem 0;

            > h1 {
              font-family: "Muli";
              font-size: 1.2857rem;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: 0.0057rem;
              text-align: left;
              color: #1458ea;
              margin: 0 0 0.9286rem 0;
            }
            > p {
              font-family: "Muli";
              font-size: 1.7143rem;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: 0.0064rem;
              text-align: left;
              color: #262626;
            }
          }
        }
        .gauge-container {
          flex: 1;
          display: flex;
          height: 100%;

          .inner-text {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            > div {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin: 0 0 0.7143rem 0;

              &:last-child {
                margin: 0;
              }

              > h1 {
                font-family: "Muli";
                font-size: 1.2857rem;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: 0.0036rem;
                text-align: left;
                color: #ff9500;
                margin: 0 0 0.2143rem 0;
              }
              > p {
                font-family: "Muli";
                font-size: 1.7143rem;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: 0.0043rem;
                text-align: left;
                color: #262626;
              }
            }
          }
        }
      }
    }

    @media only screen and (min-width: 1024px) {
      > div {
        flex-direction: row;
      }
      > h1 {
        font-family: "Muli";
        font-size: 2.1429rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #222222;
        margin: 0 0 7.1429rem 0;
      }
      .lb-calc-input {
        display: flex;
        flex: 1.4;
        flex-direction: column;
        margin: 0 3.5714rem 0 0;

        .item {
          display: flex;
          flex-direction: column;
          margin: 0 0 2.1429rem 0;

          > h1 {
            font-family: "Muli";
            font-size: 1.4286rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.0064rem;
            text-align: left;
            color: #262626;
            margin: 0;
          }
          .lb-silder-text {
            display: flex;
            align-items: center;
            .lb-slider {
              display: flex;
              // display: none;
              flex-direction: column;
              flex: 3;
              margin: 1.6429rem 0 0 0;

              .label {
                display: flex;
                flex: 1;
                justify-content: space-between;

                > p {
                  font-family: "Muli";
                  font-size: 1.2857rem;
                  font-weight: 600;
                  font-style: normal;
                  font-stretch: normal;
                  letter-spacing: 0.0064rem;
                  text-align: left;
                  color: #666666;
                }
              }
            }
            > p {
              font-family: "Muli";
              font-size: 1.4286rem;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: 0.0064rem;
              text-align: left;
              color: #666666;
              margin: 0 2.1429rem 0 2.1429rem;
              display: block;
            }
            .lb-input {
              display: flex;
              flex: 1;
              height: 3.2857rem;
              border-radius: 0.3571rem;
              border: solid 0.0857rem #d1d1d1;
              overflow: hidden;

              .label {
                width: 3.5714rem;
                background-color: #1458ea;
                display: flex;
                justify-content: center;
                align-items: center;

                > img {
                  width: 0.8571rem;
                  height: 1.2143rem;
                }
              }
              > input[type="number"] {
                width: 100%;
                height: 100%;
                display: flex;
                flex: 1;
                padding: 0 0 0 0.7143rem;

                font-family: Muli;
                font-size: 1.1429rem;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 2.63;
                letter-spacing: 0.0057rem;
                text-align: left;
                color: #262626;
              }
            }
          }
        }
      }
      .lb-gauge {
        display: flex;
        flex: 1;
        align-items: center;
        border-radius: 0.3571rem;
        box-shadow: 0.7143rem 0.7143rem 2.1429rem 0 rgba(0, 0, 0, 0.04);
        border: solid 0.0714rem #f5f5f5;
        padding: 2.1429rem;

        .gauge-values {
          display: flex;
          flex: 0.65;
          flex-direction: column;

          > div {
            display: flex;
            flex-direction: column;
            margin: 0 0 3.5714rem 0;

            > h1 {
              font-family: "Muli";
              font-size: 1.4286rem;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: 0.0057rem;
              text-align: left;
              color: #1458ea;
              margin: 0 0 0.9286rem 0;
            }
            > p {
              font-family: "Muli";
              font-size: 2rem;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: 0.0064rem;
              text-align: left;
              color: #262626;
            }
          }
        }
        .gauge-container {
          flex: 1;
          display: flex;
          height: 100%;

          .inner-text {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            > div {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin: 0 0 0.7143rem 0;

              &:last-child {
                margin: 0;
              }

              > h1 {
                font-family: "Muli";
                // font-size: 1.2857rem;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: 0.0036rem;
                text-align: left;
                color: #ff9500;
                margin: 0 0 0.2143rem 0;
              }
              > p {
                font-family: "Muli";
                // font-size: 1.7143rem;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: 0.0043rem;
                text-align: left;
                color: #262626;
              }
            }
          }
        }
      }
    }
  }
}
</style>>