<template>
  <div id="p2p-lending" class="lb-section">
    <div class="lb-container lb-sub-container">
      <h1>What Is Peer To Peer Lending</h1>
      <p>Lendbox has simplified the process of lending and borrowing. It also gives you complete control of lending and borrowing at your own terms</p>
      <img :src="require('@/assets/images/what-is-lending.png')"/>
      <p>Peer to peer lending or P2P Lending, is the practice of borrowing and lending money directly through an online platform like Lendbox, making it affordable to get loans online compared to banks. Through peer to peer lending, Lendbox is poised to change the way India lends and borrows.</p>
      <p>At your discretion, you select the people you want to invest in or get a loan from. At Lendbox, you have the power to choose your terms and enjoy complete transparency.</p>
    </div>
  </div>
</template>

<script>
export default {
  
};
</script>

<style lang="scss">
#p2p-lending {
  .lb-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    > h1 {
      margin: 0 0 1.4286rem 0;
      font-family: "Muli";
      font-size: 1.4286rem;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      color: #222222;
    }
    p {
    }

    > img {
      width:100%;
      pointer-events: none;
      margin : 0 0 2.1429rem 0;
    }
    > p {
      font-family: Muli;
      font-size: 0.8571rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #8a8a8f;
      margin: 0 0 1.4286rem 0;

      &:last-child {
        margin: 0;
      }
    }
  }
  @media only screen and(min-width:768px) {
    .lb-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      > h1 {
        margin: 0 0 2.1429rem 0;
        font-family: "Muli";
        font-size: 1.7143rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #222222;
      }
      p {
      }

      > img {

      }
      > p {
        font-family: Muli;
        font-size: 1rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #8a8a8f;
        margin: 0 0 3.2143rem 0;

        &:last-child {
          margin: 0;
        }
      }
    }
  }
  @media only screen and(min-width:1024px) {
    .lb-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      > h1 {
        margin: 0 0 2.1429rem 0;
        font-family: "Muli";
        font-size: 2.1429rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #222222;
      }
      p {
      }

      > img {
        margin: 0 0 3.5714rem 0;
      }
      > p {
        font-family: Muli;
        font-size: 1.2857rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #8a8a8f;
        margin: 0 0 3.5714rem 0;

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
</style>