<template>
  <div class="global lb-section">
    <div class="lb-container">
      <h1>Global Recognition</h1>
      <div class="list-container">
        <div class="item">
          <img :src="require('@/assets/images/global_img_2.png')" />
          <div>
            <h1>Forbes</h1>
            <p>Our Co-founders are one of the 30 under 30 Forbes Asia, 2017, Finance and Venture Capital</p>
            <input
              type="submit"
              value="Read More >>"
              @click="openurl('https://www.forbes.com/30-under-30-asia/2017/finance-venture-capital/#2a3bd9581193')"
            />
          </div>
        </div>
        <div class="item">
          <img :src="require('@/assets/images/global_img_1.png')" />
          <div>
            <h1>G20 Germany 2017</h1>
            <p>Lendbox will be representing Indian Fintech in G20 conference to discuss digitalisation of financial sector</p>
            <input
              type="submit"
              value="Read More >>"
              @click="openurl('G20-conference-to-discuss-digitalisation-of-financial-sector')"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    openurl(link) {
      if (process.browser) {
        window.open(link, "_SELF");
      }
    }
  }
};
</script>

<style lang="scss">
.global {
  background-color: #f6f9ff;
  .lb-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    > h1 {
      font-family: "Muli";
      font-size: 1.4286rem;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      color: #222222;
      margin: 0 0 2.1429rem 0;
    }

    .list-container {
      display: flex;
      flex-direction: column;
      width: 100%;

      .item {
        background-color: white;
        border-radius: 0.3571rem;
        // box-shadow: 0.7143rem 0.7143rem 2.1429rem 0 rgba(0, 0, 0, 0.04);
        border: solid 0.0714rem #f5f5f5;
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 2.1429rem;
        margin: 0 0 1.4286rem 0;
        align-items: center;
        &:hover {
          box-shadow: 0.7143rem 0.7143rem 2.1429rem 0 rgba(0, 0, 0, 0.04);
        }
        &:last-child {
          margin: 0;
        }
        > img {
          max-width: 17.8571rem;
          margin: 0 0 2.1429rem 0;
          width: 60%;
          height: auto;
        }
        > div {
          display: flex;
          flex-direction: column;
          align-items: center;
          > h1 {
            font-family: "Muli";
            font-size: 1.4286rem;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: center;
            color: #222222;
            margin: 0 0 1.4286rem 0;
          }
          > p {
            font-family: "Muli";
            font-size: 0.8571rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: center;
            color: #8a8a8f;
            margin: 0 0 3.5714rem 0;
          }
          > input[type="submit"] {
            font-family: "Muli";
            font-size: 1.2857rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: center;
            color: #1458ea;
          }
        }
      }
    }
  }

  @media only screen and(min-width:768px) {
    .lb-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      > h1 {
        font-family: "Muli";
        font-size: 1.7143rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #222222;
        margin: 0 0 3.5714rem 0;
      }

      .list-container {
        display: flex;
        flex-direction: column;

        .item {
          background-color: white;
          border-radius: 0.3571rem;
          // box-shadow: 0.7143rem 0.7143rem 2.1429rem 0 rgba(0, 0, 0, 0.04);
          border: solid 0.0714rem #f5f5f5;
          display: flex;
          flex-direction: row;
          padding: 2.1429rem;
          margin: 0 0 2.1429rem 0;
          align-items: center;

          &:hover {
            box-shadow: 0.7143rem 0.7143rem 2.1429rem 0 rgba(0, 0, 0, 0.04);
          }

          &:hover {
            box-shadow: 0.7143rem 0.7143rem 2.1429rem 0 rgba(0, 0, 0, 0.04);
          }
          > img {
            margin: 0 2.1429rem 0 0;
            width: 30%;
            height: auto;
          }
          > div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            > h1 {
              font-family: "Muli";
              font-size: 1.4286rem;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              text-align: left;
              color: #222222;
              margin: 0 0 1.4286rem 0;
            }
            > p {
              font-family: "Muli";
              font-size: 0.8571rem;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              text-align: left;
              color: #8a8a8f;
              margin: 0 0 3.5714rem 0;
            }
            > input[type="submit"] {
              font-family: "Muli";
              font-size: 1.2857rem;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              text-align: left;
              color: #1458ea;
            }
          }
        }
      }
    }
  }
  @media only screen and(min-width:1024px) {
    .lb-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      > h1 {
        font-family: "Muli";
        font-size: 2.1429rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #222222;
        margin: 0 0 7.1429rem 0;
      }

      .list-container {
        display: flex;
        flex-direction: row;

        .item {
          background-color: white;
          border-radius: 0.3571rem;
          // box-shadow: 0.7143rem 0.7143rem 2.1429rem 0 rgba(0, 0, 0, 0.04);
          border: solid 0.0714rem #f5f5f5;
          display: flex;
          flex: 1;
          flex-direction: row;
          padding: 2.1429rem;
          margin: 0 2.1429rem 0 0;
          align-items: center;
          
          &:hover {
            box-shadow: 0.7143rem 0.7143rem 2.1429rem 0 rgba(0, 0, 0, 0.04);
          }
          > img {
            margin: 0 2.1429rem 0 0;
            width: 50%;
            height: auto;
          }
          > div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            > h1 {
              font-family: "Muli";
              font-size: 1.7143rem;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              text-align: left;
              color: #222222;
              margin: 0 0 1.4286rem 0;
            }
            > p {
              font-family: "Muli";
              font-size: 1.1429rem;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              text-align: left;
              color: #8a8a8f;
              margin: 0 0 3.5714rem 0;
            }
            > input[type="submit"] {
              font-family: "Muli";
              font-size: 1.2857rem;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              text-align: left;
              color: #1458ea;
            }
          }
        }
      }
    }
  }
}
</style>>