<template>
  <div id="process" class="lb-section">
    <div class="process lb-container lb-sub-container">
      <h1>Our Proven Process Produces Results</h1>
      <p></p>

      <img class="bg-sml-img circle" :src="require('@/assets/images/circle.svg')" />
      <img class="bg-sml-img plus" :src="require('@/assets/images/plus.svg')" />
      <main class="process-main">
        <div class="item" v-for="(item,index) in list" :key="index">
          <img class="abs-img" :class="item.absImgClass" :src="item.absImg" />
          <div class="circle">{{index+1}}</div>
          <img :src="item.img" />
          <div>
            <h1>{{item.label}}</h1>
            <p>{{item.text}}</p>
          </div>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      list: [
        {
          img: require("@/assets/images/account.webp"),
          label: "Register",
          text:
            "",
          absImg: require("@/assets/images/Calculator.webp"),
          absImgClass: "calc"
        },
        {
          img: require("@/assets/images/approved.webp"),
          label: "KYC as per RBI Guidelines",
          text:
            "",
          absImg: require("@/assets/images/Pig.svg"),
          absImgClass: "pig"
        },
        {
          img: require("@/assets/images/LendboxVerification.svg"),
          label: "Lendbox Verification",
          text:
            "",
          absImg: require("@/assets/images/Safe.svg"),
          absImgClass: "radio"
        },
        {
          img: require("@/assets/images/job.svg"),
          label: "Start Bidding or Reaching out to Investors",
          text:
            "",
          absImg: require("@/assets/images/laptop.svg"),
          absImgClass: "laptop"
        },
        {
          img: require("@/assets/images/give.svg"),
          label: "Loan Disbursement",
          text:
            "",
          absImg: require("@/assets/images/Board.webp"),
          absImgClass: "clipboard"
        }
      ]
    };
  }
};
</script>

<style lang="scss">
#process {
  .lb-sml-img {
  }
  .lb-container {
    display: flex;
    flex-direction: column;

    > h1 {
      font-family: "Muli";
      font-size: 1.4286rem;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      color: #222222;
      margin: 0 0 1.4286rem 0;
    }
    > p {
      font-family: "Muli";
      font-size: 0.8571rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      color: #8a8a8f;
      margin: 0 0 2.5rem 0;
    }
    .bg-sml-img {
      display: none;
    }

    .process-main {
      display: flex;
      flex-direction: column;
      background-size: cover;
      background-repeat: no-repeat;
      margin: 0 1.7857rem 0 1.7857rem;

      .item {
        background-color: transparent;
        display: flex;
        position: relative;
        border-top: 0.1429rem dashed;
        border-color: #a0bcf7 !important;
        margin: 0;
        padding: 2.1429rem;
          
          .abs-img {
            display: none;
          }
        .circle {
          position: absolute;

          width: 3.5714rem;
          height: 3.5714rem;
          border-radius: 100%;
          background-color: #1458ea;
          display: flex;
          justify-content: center;
          align-items: center;

          font-family: "Muli";
          font-size: 1.1429rem;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
        }
        &:nth-child(odd) {
          border-left: 0.1429rem dashed;
          border-top-left-radius: 0.5714rem;
          border-bottom-left-radius: 0.5714rem;
          margin-right: 0.7143rem;
          padding-right: 0;
          justify-content: flex-start;
          .circle {
            left: -1.7857rem;
          }
          &:hover {
            background-color: white;
            box-shadow: -1.4286rem 1.4286rem 1.4286rem -1.4286rem black;
          }
        }

        &:nth-child(even) {
          border-right: 0.1429rem dashed;
          border-top-right-radius: 0.5714rem;
          border-bottom-right-radius: 0.5714rem;
          margin-left: 0.7143rem;
          padding-left: 0;
          justify-content: flex-start;
          flex-direction: row-reverse;
          .circle {
            right: -1.7857rem;
          }
          &:hover {
            background-color: white;
            box-shadow: 1.4286rem 1.4286rem 1.4286rem -1.4286rem black;
          }

          > div {
            > h1 {
              text-align: right;
            }
            > p {
              text-align: right;
            }
          }
        }

        &:first-child {
          border-top: 0;
          border-top-right-radius: 0;
          border-top-left-radius: 0;

          .circle {
            top: 0;
            left: -1.7857rem;
          }
        }

        &:last-child {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          border-bottom: 0;

          .circle {
            bottom: 0;
            left: -1.7857rem;
          }
        }

        > img {
          margin: 0 1.4286rem 0 1.4286rem;

          width: auto;
          height: 2.1429rem;
        }
        > div {
          display: flex;
          flex-direction: column;

          > h1 {
            font-family: "Muli";
            font-size: 1.4286rem;
            font-weight: bold;
            font-style: normal;
            letter-spacing: normal;
            color: #222222;
            margin: 0 0 1.4286rem 0;
          }
          > p {
            font-family: "Muli";
            font-size: 0.8571rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            color: #8a8a8f;
          }
        }
      }
    }
    @media only screen and(min-width:768px) {
      > h1 {
        font-family: "Muli";
        font-size: 1.7143rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #222222;
        margin: 0 0 2.1429rem 0;
      }
      > p {
        font-family: "Muli";
        font-size: 1rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #8a8a8f;
        margin: 0 0 3.5714rem 0;
      }
      position: relative;
      // overflow: hidden;

      .bg-sml-img {
        position: absolute;
        display: block;
        &.plus,
        &.circle {
          opacity: 0.1;
          &.plus {
            top: 12.1429rem;
            left: 19.0714rem;
          }
          &.circle {
            top: 10rem;
            left: 14.7857rem;
          }
        }
      }

      .process-main {
        display: flex;
        flex-direction: column;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 1.7857rem 0 1.7857rem;

        .item {
          display: flex;
          position: relative;
          border-top: 0.1429rem dashed;
          border-color: #a0bcf7 !important;
          margin: 0;
          padding: 3.5714rem 2.1429rem 3.5714rem 2.1429rem;
          position: relative;
 
 .abs-img {
   display: block;
 }
          .circle {
            position: absolute;

            width: 3.5714rem;
            height: 3.5714rem;
            border-radius: 100%;
            background-color: #1458ea;
            display: flex;
            justify-content: center;
            align-items: center;

            font-family: "Muli";
            font-size: 1.1429rem;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
          }
          &:nth-child(odd) {
            border-left: 0.1429rem dashed;
            border-top-left-radius: 0.5714rem;
            border-bottom-left-radius: 0.5714rem;
            margin-right: 0.7143rem;
            padding-right: 0;
            justify-content: flex-start;
            .circle {
              left: -1.7857rem;
            }
            .abs-img {
              z-index: 0;
              right: -12.1429rem;
              position: absolute;
            }
          }
          .calc{
            width:2.1429rem;
            height:2.8571rem;
            bottom:2.8571rem;
          }

          &:nth-child(even) {
            border-right: 0.1429rem dashed;
            border-top-right-radius: 0.5714rem;
            border-bottom-right-radius: 0.5714rem;
            margin-left: 0.7143rem;
            padding-left: 0;
            justify-content: flex-start;
            flex-direction: row-reverse;
            .circle {
              right: -1.7857rem;
            }
            .abs-img {
              left: -12.1429rem;
              position: absolute;
            }

            > div {
              > h1 {
                text-align: right;
              }
              > p {
                text-align: right;
              }
            }
          }

          &:first-child {
            border-top: 0;
            border-top-right-radius: 0;
            border-top-left-radius: 0;

            .circle {
              top: 0;
              left: -1.7857rem;
            }
          }

          &:last-child {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom: 0;

            .circle {
              bottom: 0;
              left: -1.7857rem;
            }
          }

          > img {
            margin: 0 2.1429rem 0 2.1429rem;

            width: auto;
            height: 4.2857rem;
          }
          > div {
            display: flex;
            flex-direction: column;

            > h1 {
              font-family: "Muli";
              font-size: 1.4286rem;
              font-weight: bold;
              font-style: normal;
              letter-spacing: normal;
              color: #222222;
              margin: 0 0 1.4286rem 0;
            }
            > p {
              font-family: "Muli";
              font-size: 0.8571rem;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              color: #8a8a8f;
            }
          }
        }
      }
    }
    @media only screen and(min-width:1360px) {
      > h1 {
        font-family: "Muli";
        font-size: 2.1429rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #222222;
        margin: 0 0 2.1429rem 0;
      }
      > p {
        font-family: "Muli";
        font-size: 1.2857rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #8a8a8f;
        margin: 0 0 7.1429rem 0;
      }

      .process-main {
        display: flex;
        flex-direction: column;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 1.7857rem 0 1.7857rem;

        .item {
          display: flex;

          position: relative;
          border-top: 0.1429rem dashed;
          border-color: #a0bcf7!important;
          margin: 0;
          padding: 3.5714rem 2.1429rem 3.5714rem 2.1429rem;

          .circle {
            position: absolute;

            width: 3.5714rem;
            height: 3.5714rem;
            border-radius: 100%;
            background-color: #1458ea;
            display: flex;
            justify-content: center;
            align-items: center;

            font-family: "Muli";
            font-size: 1.1429rem;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
          }
          &:nth-child(odd) {
            border-left: 0.1429rem dashed;
            border-top-left-radius: 0.5714rem;
            border-bottom-left-radius: 0.5714rem;
            margin-right: 0.7143rem;
            padding-right: 0;
            justify-content: flex-start;
            .circle {
              left: -1.7857rem;
            }
          }

          &:nth-child(even) {
            border-right: 0.1429rem dashed;
            border-top-right-radius: 0.5714rem;
            border-bottom-right-radius: 0.5714rem;
            margin-left: 0.7143rem;
            padding-left: 0;
            justify-content: flex-start;
            flex-direction: row-reverse;
            .circle {
              right: -1.7857rem;
            }

            > div {
              > h1 {
                text-align: right;
              }
              > p {
                text-align: right;
              }
            }
          }

          &:first-child {
            border-top: 0;
            border-top-right-radius: 0;
            border-top-left-radius: 0;

            .circle {
              top: 0;
              left: -1.7857rem;
            }
          }

          &:last-child {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom: 0;

            .circle {
              bottom: 0;
              left: -1.7857rem;
            }
          }

          > img {
            margin: 0 2.1429rem 0 2.1429rem;

            width: auto;
            height: 5.7143rem;
          }
          > div {
            display: flex;
            flex-direction: column;

            > h1 {
              font-family: "Muli";
              font-size: 1.7143rem;
              font-weight: bold;
              font-style: normal;
              letter-spacing: normal;
              color: #222222;
              margin: 0 0 1.4286rem 0;
            }
            > p {
              font-family: "Muli";
              font-size: 1.1429rem;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              color: #8a8a8f;
            }
          }
        }
      }
    }
  }
}
</style>