<template>
  <div id="review-carousel" class="lb-section">
    <div class="lb-container">
      <h1>What our Customers say about us</h1>
      <client-only>
        <carousel
          :perPage="1"
          :navigationEnabled="true"
          :autoplay="true"
          :autoplayTimeout="6000"
          :autoplayHoverPause="true"
          :loop="true"
          :paginationActiveColor="'#1458ea'"
        >
          <slide v-for="(item,i) in list" :key="i">
            <div class="review-item">
              <div class="reviewer-name">
                <img class="reviewer-img" :src="item.img" alt />
                <div>
                  <h1>{{item.name}}</h1>
                  <p>{{item.role}}</p>
                </div>
              </div>

              <div class="review-text">
                <img :src="require('@/assets/svg/quotation-mark.webp')" />
                <p>{{item.review}}</p>
              </div>
            </div>
          </slide>
        </carousel>
      </client-only>
      <!-- <v-carousel>
        <v-carousel-item v-for="(item, i) in list" :key="i">
          <div class="review-item">
            <div class="reviewer-name">
              <img class="reviewer-img" :src="list[0].img" alt />
              <div>
                <h1>item.name</h1>
                <p>item.role</p>
              </div>
            </div>
            <div class="review-text">
              <img :src="require('@/assets/svg/quotation-mark.webp')" />
              <p>{{item.review}}</p>
            </div>
          </div>
        </v-carousel-item>
      </v-carousel>-->
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      list: [
        {
          img: require("@/assets/images/user1.png"),
          name: "A. Bansal",
          role: "Investor",
          review:
            "I found P2P lending at Lendbox is a great platform for serious lenders & serve as one of the avenues for diversification of the overall portfolio. I found the platform & staff to be less restrictive, flexible & always adapting to the constructive feedback. Lendbox lived upto their commitment so far & I wish the team luck for the future path."
        },
        {
          img: require("@/assets/images/user2.png"),
          name: "S. Thukral",
          role: "Borrower",
          review:
            "One of the best Peer to Peer lending platform I have ever experienced. The best thing I liked about Lendbox is that they are professional to the core. The whole experience of borrowing has been excellent and the team was always there to assist throughout the borrowing journey. Customer centric approach of LendBox is really commendable and is definitely a WoW experience. I strongly recommend LendBox to everyone for lending or borrowing needs."
        },
        {
          img: require("@/assets/images/user3.png"),
          name: "I. Kukade",
          role: "Investor",
          review:
            "Lendbox is a truly innovative P2P lending platform that understands Indian context of borrowing and lending and the related safety. The team is very responsive to queries and the platform has variety of borrowers to diversify risk."
        },
        {
          img: require("@/assets/images/rm_male.svg"),
          name: "Bhanu Gautam",
          role: "Investor",
          review:
            "Lendbox helped me in the time when i really needed the money. I am really thankful as it helped our family at the time of emergency. Team is really co-operative and they fulfilled what they promised."
        },
        {
          img: require("@/assets/images/imranCheulkar.png"),
          name: "Imran Cheulkar",
          role: "Borrower",
          review:
            "Lendbox is India's one of the best loan platform and top peer to peer club. My best business partner for all my business loan solution. Always Applied for the business loan got the loan in super fast process. Lendbox is everything they said, quick response, best customer service and quick loan disbursement. If you are in need of a loan then Lendbox is the place to go. I highly recommended. My five star rating to Lendbox Team. Thank you for always supporting me and making my business life easy."
        },
        {
          img: require("@/assets/images/rm_male.svg"),
          name: "Ajay Sethi",
          role: "Borrower",
          review:
            "Thanks to Lendbox I got my loan within 48 hours. Lendbox support was very assistive and they helped me get funded within 24 hours"
        },
        {
          img: require("@/assets/images/rm_male.svg"),
          name: "Biswajit Mishra",
          role: "Borrower",
          review:
            "Lendbox has been the only ray of hope when, others closed their doors on me"
        },
        {
          img: require("@/assets/images/karanRao.png"),
          name: "Karan Rao",
          role: "Investor",
          review:
            "LendBox is definitely going the extra mile in terms of customer satisfaction. In P2P lending, I was very unsure of how much support I would receive from a facilitator site, but LendBox just proved to me that it values its business and its customers. Cheers and Kudos."
        }
      ]
    };
  }
};
</script>

<style lang="scss">
#review-carousel {
  .lb-container {
    display: flex;
    flex-direction: column;

    > h1 {
      font-family: "Muli";
      font-size: 1.4286rem;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      color: #222222;
      margin: 0 0 2.1429rem 0;
    }

    .review-item {
      overflow: hidden;
      // height: 100%;
      // border: 0.0714rem solid black;
      max-height: 28.5714rem;

      display: flex;
      flex-direction: column;
      // border: 0.0714rem solid black;
      // padding: 0 2.1429rem 0 2.1429rem;

      .reviewer-name {
        position: relative;
        display: flex;
        align-items: center;
        width: 80%;
        align-self: flex-end;
        border-radius: 0.3571rem;
        background-image: linear-gradient(114deg, #1458ea, #a8c4ff);
        margin: 0.4286rem 0 0 0;
        padding: 1.7143rem 0 1.7143rem 3.9286rem;

        > img {
          position: absolute;
          left: -2.1429rem;
          width: 5.7143rem;
          height: 5.7143rem;
        }
        > div {
          > h1 {
            font-family: "Muli";
            font-size: 1.4286rem;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
            margin: 0 0 0.7143rem 0;
          }
          > p {
            font-family: "Muli";
            font-size: 1.2857rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.0064rem;
            text-align: left;
            color: #ffffff;
          }
        }
      }
      .review-text {
        background-color: transparent;
        position: relative;
        top: -2.8571rem;
        padding: 2.1429rem;
        border-radius: 0.3571rem;
        transition: 1s all ease-in;
        // box-shadow: 0.7143rem 0.7143rem 1.4286rem 0 #0000000f;
        >img{
          width:50px;
          height:auto;
        }
        > p {
          font-family: "Muli";
          font-size: 0.8571rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: left;
          color: #262626;
        }
      }
    }
    @media only screen and(min-width:768px) {
      > h1 {
        font-family: "Muli";
        font-size: 1.7143rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #222222;
        margin: 0 0 3.5714rem 0;
      }

      .review-item {
        overflow: hidden;
        // height: 100%;
        // border: 0.0714rem solid black;
        max-height: auto;

        display: flex;
        flex-direction: column;
        // border: 0.0714rem solid black;
        padding: 0 1.4286rem 0 1.4286rem;

        .lb-absolute {
          position: relative;
          height: 8.2143rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .reviewer-name {
          position: relative;
          display: flex;
          align-items: center;
          width: 80%;
          align-self: center;
          border-radius: 0.3571rem;
          background-image: linear-gradient(114deg, #1458ea, #a8c4ff);
          margin: 0.4286rem 0 0 0;
          padding: 1.7143rem 0 1.7143rem 3.9286rem;

          > img {
            position: absolute;
            left: -4.2857rem;
            width: 7.1429rem;
            height: 7.1429rem;
          }
          > div {
            > h1 {
              font-family: "Muli";
              font-size: 1.4286rem;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              text-align: left;
              color: #ffffff;
              margin: 0 0 0.7143rem 0;
            }
            > p {
              font-family: "Muli";
              font-size: 1.2857rem;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: 0.0064rem;
              text-align: left;
              color: #ffffff;
            }
          }
        }
        .review-text {
          position: relative;
          top: -2.8571rem;
          padding: 2.1429rem;
          padding-top: 4.5714rem;
          border-radius: 0.3571rem;
          box-shadow: 0.7143rem 0.7143rem 1.4286rem 0 #0000000f;
          // background-color: #ffffff;
          > p {
            font-family: "Muli";
            font-size: 0.8571rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            color: #262626;
          }
        }
      }
    }
    @media only screen and(min-width:1360px) {
      margin: 0 21.4286rem 0 21.4286rem;
      > h1 {
        font-family: "Muli";
        font-size: 2.1429rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #222222;
        margin: 0 0 7.1429rem 0;
      }

      .review-item {
        overflow: hidden;
        // height: 100%;
        // border: 0.0714rem solid black;
        max-height: auto;

        display: flex;
        flex-direction: column;
        // border: 0.0714rem solid black;
        padding: 0 1.4286rem 0 1.4286rem;

        .reviewer-name {
          position: relative;
          display: flex;
          align-items: center;
          width: 80%;
          align-self: center;
          border-radius: 0.3571rem;
          background-image: linear-gradient(114deg, #1458ea, #a8c4ff);
          margin: 0.4286rem 0 0 0;
          padding: 1.7143rem 0 1.7143rem 4.2857rem;

          > img {
            position: absolute;
            left: -4.2857rem;
            width: 7.1429rem;
            height: 7.1429rem;
          }
          > div {
            > h1 {
              font-family: "Muli";
              font-size: 1.7143rem;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              text-align: left;
              color: #ffffff;
              margin: 0 0 0.7143rem 0;
            }
            > p {
              font-family: "Muli";
              font-size: 1.1429rem;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: 0.0064rem;
              text-align: left;
              color: #ffffff;
            }
          }
        }
        .review-text {
          position: relative;
          top: -2.8571rem;
          padding: 2.1429rem;
          padding-top: 4.5714rem;
          border-radius: 0.3571rem;
          // box-shadow: 0.7143rem 0.7143rem 1.4286rem 0 #0000000f;
          // background-color: #ffffff;
          > p {
            font-family: "Muli";
            font-size: 1.1429rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            color: #262626;
          }
        }
      }
    }
  }
}
</style>>