<template>
  <div class="faq lb-section">
    <div class="lb-container">
      <h1>Frequently Asked Questions</h1>
      <main class="faq-main">
        <v-expansion-panels>
          <v-expansion-panel v-for="(item,i) in list" :key="i">
            <v-expansion-panel-header>{{item.label}}</v-expansion-panel-header>
            <v-expansion-panel-content>
              <p v-for="(el,index) in item.text.split('$')" :key="index">{{el}}</p>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </main>
      <footer class="faq-footer">
        <h1>Lendbox does not guarantee any returns on the capital. Lendbox is a tech platform and it does not assume any credit risk on behalf of its users.</h1>
        <!-- <input type="submit" /> -->
      </footer>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      list: [
        {
          label: "What is P2P Lending and how it works?",
          text:
            "Peer to peer lending is a method of lending capital to borrowers on a mutually-agreed interest rate through an online platform like Lendbox which acts as a marketplace." +
            "$P2P platforms verify each and every borrower at the time of registration, either as an investor or borrower. This ensures that the information that you see online about each member is verified to the best of their capabilities. Lendbox collects and authenticates Personal, Professional, Social and Financial details from each potential borrower." +
            "$Once a borrower and investor come to a mutual agreement, Lendbox helps them legalize the transaction by signing a formal contract."
        },
        {
          label: "Is P2P Lending legal in India?",
          text:
            "Yes, P2P lending is a legal business regulated by the Reserve Bank of India. No organization can carry on the business of P2P lending without obtaining a certificate of registration from the Reserve Bank. Lendbox is an RBI-certified NBFC-P2P."
        },
        {
          label: "Is P2P Lending safe?",
          text:
            "Investors at Lendbox have access to a wide range of borrowers with varied risk profiles, giving them an opportunity to create diverse portfolios. With strong assessment and collection mechanism, Lendbox makes P2P lending much safer than many other investment options available." +
            "$Peer to peer lending is an excellent investment option as it has a higher return on the capital. The emergence of P2P lending has enabled many individuals to lend money directly to prospective borrowers in a hassle-free manner without the involvement of the banks and FIs. But just like any other investment, it has its own risks. However, these risks can be mitigated by intelligently diversifying your borrower portfolios." +
            "$The main risk involved with peer to peer lending is the risk of default by the borrower. Lendbox has an in-house recovery team as well as RBI-registered collection agencies as well to help the lenders in such cases."
        },
        {
          label: "How much can you make from P2P lending?",
          text:
            "Returns from P2P lending are generally higher compared to traditional investment options like a Fixed Deposit or Mutual funds. You can choose the desired rate of interest you want to invest at depending on your risk appetite. Lendbox offers a wide range of interest rate options varying between 12% - 36% per annum."
        },
        {
          label: "Is Lendbox a Pan-India operation?",
          text:
            "Yes, you can invest or borrow through Lendbox in all metropolitan cities within India."
        },
        {
          label: "Is my personal and financial information secure on Lendbox?",
          text:
            "Yes, Lendbox has taken extensive measures including incorporating 128 bit SSL encryption to ensure that your personal and financial information is safe with us. Information will only be shared with any third party after the user's prior consent."
        }
      ]
    };
  }
};
</script>

<style lang="scss">
.faq {
  .lb-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    > h1 {
      font-family: "Muli";
      font-size: 1.4286rem;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: center;
      color: #222222;
      margin: 0 0 2.1429rem 0;
    }
    .faq-main {
      width: 100%;
      margin: 0 0 1.4286rem 0;

      .v-expansion-panel {
        margin: 0 0 0.7143rem 0;
        border-radius: 0.3571rem;
        border: solid 0.0714rem #f5f5f5;
        background-color: #ffffff;

        &:last-child {
          margin: 0;
        }
      }
      .v-expansion-panel-header {
        font-family: Muli;
        font-size: 0.8571rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #8a8a8f;
      }
      .v-expansion-panel-header--active {
        box-shadow: 0 0 1.4286rem 0 rgba(0, 0, 0, 0.06);
        border: solid 0.0714rem #1458ea;
        color: #1458ea;
        .v-icon.v-icon {
          color: #1458ea;
        }
      }
      .v-icon.v-icon {
        font-size: 2.1429rem;
        color: #262626;
      }
      .v-expansion-panel-content__wrap {
        padding: 1.4286rem;
        background-color: #f5f5f5;

        > p {
          margin: 0 0 0.7143rem 0;
          font-family: "Muli";
          font-size: 0.8571rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: left;
          color: #8a8a8f;
        }
      }
    }
    .faq-footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      > h1 {
        font-family: "Muli";
        font-size: 1.2857rem;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.0064rem;
        text-align: center;
        color: #262626;
        margin: 0 0 2.1429rem 0;
      }

      > input[type="submit"] {
        width: 12.8571rem;
        padding: 0.7143rem 0 0.7143rem 0;
        border-radius: 0.3571rem;
        background-color: #1458ea;

        font-family: "Muli";
        font-size: 1.2857rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.0064rem;
        text-align: center;
        color: #ffffff;
      }
    }
  }
  @media only screen and(min-width:768px) {
    .lb-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      > h1 {
        font-family: "Muli";
        font-size: 1.7143rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: center;
        color: #222222;
        margin: 0 0 3.5714rem 0;
      }
      .faq-main {
        width: 100%;
        margin: 0 0 1.4286rem 0;

        .v-expansion-panel {
          margin: 0 0 0.7143rem 0;
          border-radius: 0.3571rem;
          border: solid 0.0714rem #f5f5f5;
          background-color: #ffffff;

          &:last-child {
            margin: 0;
          }
        }
        .v-expansion-panel-header {
          font-family: "Muli";
          font-size: 1rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #8a8a8f;
        }
        .v-expansion-panel-header--active {
          box-shadow: 0 0 1.4286rem 0 rgba(0, 0, 0, 0.06);
          border: solid 0.0714rem #1458ea;
          color: #1458ea;
          .v-icon.v-icon {
            color: #1458ea;
          }
        }
        .v-icon.v-icon {
          font-size: 2.5rem;
          color: #262626;
        }
        .v-expansion-panel-content__wrap {
          padding: 1.4286rem;
          background-color: #f5f5f5;
          > p {
            font-family: "Muli";
            font-size: 1rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            color: #8a8a8f;
          }
        }
      }
      .faq-footer {
        display: flex;
        flex-direction: column;

        > h1 {
          font-family: "Muli";
          font-size: 1rem;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.0064rem;
          text-align: center;
          color: #8a8a8f;
          margin: 0 0 3.5714rem 0rem;
        }

        > input[type="submit"] {
          width: 12.8571rem;
          padding: 0.7143rem 0 0.7143rem 0;
          border-radius: 0.3571rem;
          background-color: #1458ea;

          font-family: "Muli";
          font-size: 1.2857rem;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.0064rem;
          text-align: center;
          color: #ffffff;
        }
      }
    }
  }
  @media only screen and(min-width:1024px) {
    .lb-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      > h1 {
        font-family: "Muli";
        font-size: 2.1429rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: center;
        color: #222222;
        margin: 0 0 7.1429rem 0;
      }
      .faq-main {
        width: 100%;
        margin: 0 0 3.5714rem 0;

        .v-expansion-panel {
          margin: 0 0 2.1429rem 0;
          border-radius: 0.3571rem;
          border: solid 0.0714rem #f5f5f5;
          background-color: #ffffff;

          &:last-child {
            margin: 0;
          }
        }
        .v-expansion-panel-header {
          font-family: "Muli";
          font-size: 1.2857rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #8a8a8f;
        }
        .v-expansion-panel-header--active {
          box-shadow: 0 0 1.4286rem 0 rgba(0, 0, 0, 0.06);
          border: solid 0.0714rem #1458ea;
          color: #1458ea;
          .v-icon.v-icon {
            color: #1458ea;
          }
        }
        .v-icon.v-icon {
          font-size: 2.5rem;
          color: #262626;
        }
        .v-expansion-panel-content__wrap {
          padding: 1.4286rem;
          background-color: #f5f5f5;
          > p {
            font-family: "Muli";
            font-size: 1.2857rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            color: #8a8a8f;
          }
        }
      }
      .faq-footer {
        display: flex;
        flex-direction: column;

        > h1 {
          font-family: "Muli";
          font-size: 1rem;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.0064rem;
          text-align: center;
          color: #8a8a8f;
          margin: 0 0 2.2143rem 0rem;
        }

        > input[type="submit"] {
          width: 12.8571rem;
          padding: 0.7143rem 0 0.7143rem 0;
          border-radius: 0.3571rem;
          background-color: #1458ea;

          font-family: "Muli";
          font-size: 1.2857rem;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.0064rem;
          text-align: center;
          color: #ffffff;
        }
      }
    }
  }
}
</style>