<template>
  <div class="lb-page-footer lb-section">
    <div class="lb-container">
      <header class="lb-f-header">
        <h1>Address: Empowerers Coworking City, Saira Tower, Gulmohar Commercial Complex, Yusuf Sarai, Green Park Metro Exit 2, New Delhi, Delhi 110049 India</h1>
      </header>
      <main class="lb-f-main">
        <div class="email">
          <img :src="require('@/assets/images/Path4723.svg')" />
          <a href="mailto:support@lendbox.in">support@lendbox.in</a>
        </div>
        <div class="phone">
          <img :src="require('@/assets/images/Path4724.svg')" />
          <a href="tel:7291027919">+91-7291027919</a>
        </div>
      </main>
      <div class="nav-top"></div>
      <footer class="lb-f-footer">
        <h1 v-html="'Copyright © Transactree Technologies Pvt Ltd 2019. All Rights Reserved.'"></h1>
      </footer>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.lb-page-footer {
  position: relative;
  .lb-container {
    display: flex;
    flex-direction: column;
    position: static;

    .lb-f-header {
      margin: 0 0 0.7143rem 0;
      > h1 {
        font-family: "Muli";
        font-size: 0.8571rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #262626;
      }
    }
    .lb-f-main {
      margin: 0 0 2.1429rem 0;
      display: flex;
      justify-content: center;

      .email,
      .phone {
        display: flex;
        align-items: center;
        margin: 0 2.1429rem 0 0;

        &.phone {
          margin: 0;
        }
        > img {
          width: 1.4286rem;
          height: 1.4286rem;
          margin: 0 0.7143rem 0 0;
        }
        > a {
          font-family: "Muli";
          font-size: 0.8571rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: left;
          color: #262626;
          text-decoration: none;
        }
      }
    }

    .lb-f-footer {
      > h1 {
        font-family: "Muli";
        font-size: 0.8571rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #262626;
      }
    }
  }
  @media only screen and(min-width:768px) {
    .lb-container {
      display: flex;
      flex-direction: column;
      position: static;

      .lb-f-header {
        margin: 0 0 1.4286rem 0;
        > h1 {
          font-family: "Muli";
          font-size: 1.1429rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: center;
          color: #262626;
        }
      }
      .lb-f-main {
        margin: 0 0 3.5714rem 0;
        display: flex;
        justify-content: center;

        .email,
        .phone {
          display: flex;
          align-items: center;
          margin: 0 2.1429rem 0 0;

          &.phone {
            margin: 0;
          }
          > img {
            width: 1.4286rem;
            height: 1.4286rem;
            margin: 0 0.7143rem 0 0;
          }
          > a {
            font-family: "Muli";
            font-size: 1.1429rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            color: #262626;
          }
        }
      }

      .lb-f-footer {
        > h1 {
          font-family: "Muli";
          font-size: 1.1429rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: center;
          color: #262626;
        }
      }
    }
  }
}
</style>