<template>
  <div id="landing-section" class="lb-section">
    <div class="lb-container">
      <header class="landing-header">
        <img :src="require('@/assets/svg/homepage_svg/Logo@3x.webp')" />
        <h1>
          RBI Certified NBFC-P2P Lending Platform
        </h1>
      </header>
      <main class="landing-main lb-sub-container">
        <h1>
          Peer To Peer Lending Now In
          India With
          <span class="landing-main-strong">Lendbox</span>
        </h1>
        <p v-html="landingText"></p>
         </main>
      <footer class="landing-footer">
        <div>
          <input
            class="invest"
            type="submit"
            value="Want to Invest"
            @click="openurl('https://app.lendbox.in/signup')"
          />
          <input
            class="loan"
            type="submit"
            value="Need a Loan"
            @click="openurl('https://app.lendbox.in/signup/borrower')"
          />
        </div>
      </footer>
    </div>
    <img class="bg-img1" :src="require('@/assets/images/bg_Illustration.svg')" />

    <img class="bg-img2" :src="require('@/assets/images/CREAM.webp')" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      landingText:"With P2P lending, you can avail quick personal loans or lend money online to earn great returns. Lendbox is India's leading peer to peer lending marketplace that connects high quality creditworthy borrowers with smart lenders online."
    };
  },
  methods: {
    openurl(link) {
      if (process.browser) {
        window.open(link, "_SELF");
      }
    }
  }
};
</script>

<style lang="scss">
#landing-section {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #679cf6, #1458ea);
  overflow: hidden;
  justify-content: space-between;

  .bg-img1 {
    display: flex;
    height: 20vh;
    width: auto;
  }

  .bg-img2 {
    display: flex;
    // justify-self: flex-end;
    object-fit: fill;
    width: 104%;
    height: 20vh;
  }
  .bg-img2 {
    object-fit: fill;
  }

  .lb-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    margin-bottom: 0.7143rem;
  }
  .landing-header {
    display: flex;
    align-items: center;
    // margin: 0 0 1.4286rem 0;
    margin: 0 0 0.3571rem 0;

    > img {
      width: 3.5714rem;
      height: auto;
      min-block-size: 3.5714rem;
      margin: 0 1.4286rem 0 0;
      pointer-events: none;
    }
    > h1 {
      font-family: "Muli";
      font-size: 1.2143rem;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
  }
  .landing-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin: 0 0 2.1429rem 0;
    margin: 0 0 0.3571rem 0;

    > h1 {
      font-family: "Muli";
      font-size: 1.8571rem;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      // margin: 0 0 1.4286rem 0;
      margin : 0 0 0.3571rem 0;

      > span {
        font-family: "Muli";
        font-size: 1.8571rem;
        font-weight: 900;
      }
    }
    > p {
      font-family: "Muli";
      font-size: 0.8571rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }
  }

  .landing-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    > div {
      // margin: 0 0 1.4286rem 0;
      display: flex;
      justify-content: space-between;
      input[type="submit"] {
        cursor: pointer;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        border-radius: 0.3571rem;
        background-color: white;
        font-family: "Muli";
        font-size: 1.2857rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #1458ea;
        padding: 0.8571rem 0 0.8571rem 0;

        &:first-child {
          margin: 0 0.7143rem 0 0;
        }
      }
    }
  }

  // @media only screen and (min-width: 73.1429rem) {
  //   .landing-section {
  //   }
  // }

  @media only screen and(min-width: 768px) {
    display: flex;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, #679cf6, #1458ea);

    .bg-img1 {
      display: flex;
      height: 30vh;
      width: auto;
    }
    .lb-container {
      // margin-bottom: 1.4286rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .landing-header {
      margin: 0 0 2.1429rem 0;

      > img {
        margin: 0 1.4286rem 0 0;
      }
      > h1 {
        font-size: 0.6429rem;
      }
    }
    .landing-main {
      > h1 {
        font-size: 1.7143rem;

        > span {
          font-size: 1.7143rem;
        }
      }
      > p {
        font-size: 1rem;
      }
    }

    .landing-footer {
      width: auto;
      > div {
        display: flex;
        justify-content: space-between;
        input[type="submit"] {
          border-radius: 0.3571rem;
          background-color: white;
          font-family: "Muli";
          font-size: 1.2857rem;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: center;
          color: #1458ea;
          padding: 0.8571rem 1.7143rem 0.8571rem 1.7143rem;

          &:first-child {
            margin: 0 2.1429rem 0 0;
          }
        }
      }
      > img {
      }
      > img {
      }
    }
  }
  @media only screen and(min-width: 1024px) {
    display: flex;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, #679cf6, #1458ea);

    .bg-img1 {
      display: flex;
      height: 20vh;
      width: auto;
    }
    .lb-container {
      margin: 0 5.7143rem 0.7143rem 5.7143rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .landing-header {
      margin: 0 0 2.1429rem 0;

      > img {
        width: 7.1429rem;
        height: 7.1429rem;
        margin: 0 2.7143rem 0 0;
      }
      > h1 {
        font-size: 1.5rem;
      }
    }
    .landing-main {
      margin: 0 0 3.5714rem 0;
      > h1 {
        font-size: 2.7143rem;
        margin: 0 0 1.4286rem 0;

        > span {
          font-size: 2.7143rem;
        }
      }
      > p {
        font-size: 1.2857rem;
      }
    }

    .landing-footer {
      width: auto;
      > div {
        display: flex;
        justify-content: center;
        input[type="submit"] {
          display: block;
          flex: 0;
          border-radius: 0.3571rem;
          background-color: white;
          font-family: "Muli";
          font-size: 1.2857rem;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: center;
          color: #1458ea;
          padding: 0.8571rem 1.7143rem 0.8571rem 1.7143rem;

          &:first-child {
            margin: 0 2.1429rem 0 0;
          }
        }
      }
      > img {
      }
      > img {
      }
    }
  }
  @media only screen and(min-width: 1360px) {
    .bg-img1 {
      display: flex;
      height: 30vh;
      width: auto;
    }
    .lb-container {
      margin: 0 10rem 0.7143rem 10rem;
    }
  }
}
</style>