<template>
  <div class="press lb-section">
    <div class="lb-container">
      <h1>Press Coverage</h1>
      <client-only>
        <carousel
          :perPage="loadPage"
          :navigationEnabled="(loadPage===1)? false:true"
          :autoplay="true"
          :autoplayTimeout="4000"
          :autoplayHoverPause="true"
          :loop="true"
          :paginationActiveColor="'#1458ea'"
        >
          <slide v-for="(item,i) in list" :key="i">
            <div class="carosel-item">
              <img :src="item.img" />
              <p>{{item.text}}</p>
              <a :href="item.link">Read More >></a>
            </div>
          </slide>
        </carousel>
      </client-only>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    handleWidth() {
      this.width = window.innerWidth;
      // console.log(this.width);
      if (this.width <= 768) {
        this.loadPage = 1;
      } else if (this.width > 768) {
        this.loadPage = 2;
        if (this.width > 1360) {
          this.loadPage = 3;
        }
      }
    }
  },
  created() {
    if (process.browser) {
      window.addEventListener("resize", this.handleWidth);
    }
  },
  mounted() {
    this.handleWidth();
  },
  destroyed() {
    if (process.browser) {
      window.removeEventListener("resize", this.handleWidth);
    }
  },
  data() {
    return {
      width: 0,
      loadPage: 1,
      list: [
        {
          img: require("@/assets/press/1.webp"),
          text:
            "Using 25-30 parameters, these companies evaluate borrowers and put them in different risk categories. Those with a higher risk get loans at higher interest rates and a person deemed likely to repay the loan diligently gets lower rates.",
          link:
            "https://www.business-standard.com/article/pf/take-advantage-of-online-lending-platforms-116011000599_1.html"
        },
        {
          img: require("@/assets/press/2.webp"),
          text:
            "Lendbox is one of the most successful peer-to-peer lending platforms in India. By creating a conducive environment for borrowers and investors, Lendbox aims to revolutionize the personal loans market in the country",
          link:
            "https://www.ft.com/content/fed66ac2-0d4e-11e6-9cd4-2be898308be3#axzz4AVVjKTIV"
        },
        {
          img: require("@/assets/press/3.webp"),
          text:
            "A transparent, convenient and seamless system where creditworthy borrowers would be able to transact on short to medium term personal loans through individual or institutional investors.",
          link:
            "http://www.iamwire.com/2015/11/online-finance-help-coverfox-lendbox-indifi-faircent/125795"
        },
        {
          img: require("@/assets/press/4.webp"),
          text:
            "Robust underwriting process using Big Data Intelligence on more than 120 data variables",
          link:
            "https://s3-ap-southeast-1.amazonaws.com/lendbox/press/et_press_coverage.jpg"
        },
        {
          img: require("@/assets/press/5.webp"),
          text:
            "Instead of just checking credit history and KYC norms, they also use big data to track spending patterns of customers.",
          link:
            "https://www.outlookindia.com/magazine/story/the-online-borrow/297695?utm_content=buffer9a289&utm_medium=social&utm_source=facebook.com&utm_campaign=buffer"
        },
        {
          img: require("@/assets/press/6.webp"),
          text:
            "A transparent, convenient and seamless system where creditworthy borrowers would be able to transact on short to medium term personal loans through individual or institutional investors.",
          link:
            "https://www.ibef.org/blogs/lendbox-indias-premier-credit-marketplace-and-e-lending-platform"
        },
        {
          img: require("@/assets/press/7.webp"),
          text:
            "The Indian lending market is vast, and there is an enormous potential for peer-to-peer loans. Also, the need for small loans is paving the way for peer-to-peer loans.",
          link:
            "https://www.financialexpress.com/industry/how-peer-to-peer-financing-holds-advantage-over-traditional-lenders/1670324/"
        },
        {
          img: require("@/assets/press/8.webp"),
          text:
            "The main objective of this startup started by Ekmeet Singh, Bhuvan Rustagi and Jatin Malwal, removes  mediators like banks, depository institutions etc.",
          link:
            "https://www.zeebiz.com/small-business/news-this-startup-facilitates-quick-and-safe-p2p-lending-92078"
        },
        // {
        //   img: require("@/assets/press/9.webp"),
        //   text:
        //     "LendBox is definitely going the extra mile in terms of customer satisfaction. In P2P lending, I was very unsure of how much support I would receive from a facilitator site, but LendBox just proved to me that it values its business and its customers. Cheers and Kudos",
        //   link:
        //     "https://navbharattimes.indiatimes.com/business/business-news/e-marketplace-to-get-the-loan-without-the-hassle/articleshow/50917430.cms"
        // },
        {
          img: require("@/assets/press/10.webp"),
          text:
            "Peer-to-peer lenders are pushing back on central bank proposals to regulate the online platforms, arguing the new rules would hamper the development of an industry in its infancy.",
          link:
            "https://www.bloomberg.com/news/articles/2016-05-25/india-s-p2p-lenders-push-back-on-proposed-central-bank-rules"
        },
        {
          img: require("@/assets/press/11.webp"),
          text:
            "In a country where access to formal credit has always been a problem, and loans from friends and family are common, P2P lending seemed like a no-brainer. And it didn’t disappoint.",
          link:
            "https://www.bloombergquint.com/business/fintech-tracker-lendbox-joins-the-p2p-lending-club"
        }
        // {
        //   img: require("@/assets/press/zjSq0VMS.jpg"),
        //   text:
        //     "LendBox is definitely going the extra mile in terms of customer satisfaction. In P2P lending, I was very unsure of how much support I would receive from a facilitator site, but LendBox just proved to me that it values its business and its customers. Cheers and Kudos",
        //   link:
        //     "https://navbharattimes.indiatimes.com/business/business-news/e-marketplace-to-get-the-loan-without-the-hassle/articleshow/50917430.cms"
        // }
      ]
    };
  }
};
</script>

<style lang="scss">
.press {
  .lb-container {
    display: flex;
    flex-direction: column;

    > h1 {
      font-family: "Muli";
      font-size: 1.4286rem;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: center;
      color: #222222;
      margin: 0 0 2.1429rem 0;
    }
     .VueCarousel-wrapper{
           padding-bottom:30px;
     }
    .carosel-item {
      border-radius: 0.3571rem;
      border: solid 0.0714rem #f5f5f5;
      background-color: #ffffff;
      padding: 2.1429rem;
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin: 0 1.0714rem 0 1.0714rem;
      transition: all 0.4s ease;

      &:hover {
        box-shadow: 0.7143rem 0.7143rem 2.1429rem 0 rgba(0, 0, 0, 0.04);
      }
      > img {
        height: 3.5714rem;
        width: 14.2857rem;
        margin: 0 0 3.5714rem 0;
      }
      > p {
        font-family: "Muli";
        font-size: 0.8571rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #8a8a8f;
        margin: 0 0 3.5714rem 0;
      }
      > a {
        font-family: "Muli";
        font-size: 1.2857rem;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #1458ea;
        text-decoration: none;
      }
    }
    @media only screen and(min-width:768px) {
      > h1 {
        font-family: "Muli";
        font-size: 1.7143rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #222222;
        margin: 0 0 3.5714rem 0;
      }
      .carosel-item {
        > img {
          height: 5.7143rem;
          width: 7.1429rem;
          margin: 0 0 3.5714rem 0;
        }
      }
    }
    @media only screen and(min-width:1024px) {
      > h1 {
        font-family: "Muli";
        font-size: 2.1429rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #222222;
        margin: 0 0 7.1429rem 0;
      }
      .carosel-item {
        border-radius: 0.3571rem;
        border: solid 0.0714rem #f5f5f5;
        background-color: #ffffff;
        padding: 2.1429rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1.0714rem 0 1.0714rem;

        > img {
          height: 5.7143rem;
          width: auto;
          margin: 0 0 3.5714rem 0;
        }
        > p {
          font-family: "Muli";
          font-size: 1.1429rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: center;
          color: #8a8a8f;
          margin: 0 0 3.5714rem 0;
        }
        > a {
          font-family: "Muli";
          font-size: 1.2857rem;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: center;
          color: #1458ea;
        }
      }
    }
  }
}
</style>