<template>
  <div class="quick-links lb-section">
    <div class="lb-container">
      <header class="quick-links-header">
        <h1>Quick Links</h1>
        <div>
          <!-- <a
            :class="(activeList===productList)? 'active-link':''"
            @click="activeList=productList"
          >Product</a>
          <p>|</p>-->
          <!-- <a
            :class="(activeList===citiesList)? 'active-link':''"
            @click="activeList=citiesList"
          >Cities</a>-->
        </div>
      </header>
      <main class="quick-links-main">
        <div v-for="(item,i) in activeList" :key="i" @click="openurl(item.link)">
          <a :href="item.link">
            <h1>{{item.label}}</h1>
          </a>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    openurl(link) {
      if (process.browser) {
        window.open(link, "_SELF");
      }
    }
  },
  mounted() {
    this.activeList = this.citiesList;
  },
  data() {
    return {
      // productList: [
      //   {
      //     label: "Instant Personal Loan",
      //     link: "instant-personal-loan-online-india"
      //   },
      //   {
      //     label: "Invest Money Online",
      //     link: "lenders"
      //   },
      //   {
      //     label: "Short Term Loan",
      //     link: "short-term-loan-online-india"
      //   },
      //   {
      //     label: "Marriage Loan",
      //     link: "marriage-loan-online"
      //   },
      //   {
      //     label: "Debt Consolidation Loan",
      //     link: "debt-consolidation-loan-india"
      //   },
      //   {
      //     label: "Bad Credit Loan",
      //     link:
      //       "get-personal-loans-with-bad-credit-via-lendbox-platform"
      //   },
      //   {
      //     label: "Credit Card Repayment Loan",
      //     link: "credit-card-repayment-loan-online"
      //   },
      //   {
      //     label: "Small Personal Loan",
      //     link: "small-personal-loan-online"
      //   }
      // ],
      citiesList: [
        {
          label: "Personal Loan Delhi NCR",
          link: "personal-loan-in-delhi-ncr"
        },
        {
          label: "Personal Loan Bangalore",
          link: "personal-loan-in-bangalore"
        },
        {
          label: "Personal Loan Mumbai",
          link: "personal-loan-in-mumbai"
        },
        {
          label: "Personal Loan Hyderabad",
          link: "personal-loans-in-Hyderabad"
        },
        {
          label: "Personal Loan Chennai",
          link: "personal-loans-in-Chennai"
        },
        {
          label: "Personal Loan Pune",
          link: "personal-loan-in-pune"
        },
        {
          label: "Personal Loan Ahmedabad",
          link: "personal-loan-in-ahmedabad"
        }
      ],
      activeList: null
    };
  }
};
</script>

<style lang="scss">
.quick-links {
  display: flex;
  border-top: 0.0714rem solid #f5f5f5;
  boreder-bottom: 0.0714rem solid #f5f5f5;
  background-color: #1458ea;

  .lb-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

    .quick-links-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 0 1.7143rem 0;
      > h1 {
        font-family: "Muli";
        font-size: 1.4286rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: white;
        margin: 0 0 2.3571rem 0;
      }
      > div {
        display: flex;

        > a {
          font-family: "Muli";
          font-size: 1.2857rem;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.0064rem;
          text-align: center;
          color: #8a8a8f;
        }
        .active-link {
          color: #1458ea;
        }
        > p {
          margin: 0 2.1429rem 0 2.1429rem;
          font-family: "Muli";
          font-size: 1.2857rem;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.0064rem;
          text-align: center;
          color: #8a8a8f;
        }
      }
    }
    .quick-links-main {
      display: flex;
      flex-direction: column;

      > div {
        padding: 0.8571rem 0 0.8571rem 0;
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: white;
        border-radius: 0.3571rem;
        margin: 0 0 0.7143rem 0;
        cursor: pointer;

        > a {
          text-decoration: none;
          > h1 {
            font-family: "Muli";
            font-size: 1.2857rem;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: center;
            color: #1458ea;
          }
        }

        &:last-child {
          margin: 0;
        }
      }
    }
  }
  @media only screen and(min-width:768px) {
    .lb-container {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;

      .quick-links-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 2.1429rem 0;
        > h1 {
          font-family: "Muli";
          font-size: 1.7143rem;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: center;
          color: white;
          margin: 0 0 2.1429rem 0;
        }
        > div {
          display: flex;

          > a {
            font-family: "Muli";
            font-size: 1rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.0064rem;
            text-align: center;
            color: #8a8a8f;
          }
          > p {
            margin: 0 2.1429rem 0 2.1429rem;
            font-family: "Muli";
            font-size: 1rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.0064rem;
            text-align: center;
            color: #8a8a8f;
          }
        }
      }
      .quick-links-main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        > div {
          padding: 0.8571rem 0 0.8571rem 0;
          display: flex;
          justify-content: center;
          width: 45%;
          background-color: #f6f9ff;
          margin: 2.5%;

          > a {
            > h1 {
              font-family: "Muli";
              font-size: 1.2857rem;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              text-align: center;
              color: #1458ea;
            }
          }

          &:last-child {
            margin: 2.5%;
          }
        }
      }
    }
  }
  @media only screen and(min-width:1024px) {
    .lb-container {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;

      .quick-links-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 3.5714rem 0;
        > h1 {
          font-family: "Muli";
          font-size: 2.1429rem;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: center;
          color: white;
          margin: 0 0 2.1429rem 0;
        }
        > div {
          display: flex;

          > a {
            font-family: "Muli";
            font-size: 1.7143rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.0064rem;
            text-align: center;
            color: #8a8a8f;
          }
          > p {
            margin: 0 2.1429rem 0 2.1429rem;
            font-family: "Muli";
            font-size: 1.7143rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.0064rem;
            text-align: center;
            color: #8a8a8f;
          }
        }
      }
      .quick-links-main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        > div {
          padding: 0.8571rem 0 0.8571rem 0;
          display: flex;
          justify-content: center;
          width: 20%;
          background-color: #f6f9ff;
          margin: 2.5%;

          > a {
            > h1 {
              font-family: "Muli";
              font-size: 1.2857rem;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              text-align: center;
              color: #1458ea;
            }
          }

          &:last-child {
            margin: 2.5%;
          }
        }
      }
    }
  }
}
</style>