<template>
  <div id="lb-info" class="lb-section">
    <div class="lb-container">
      <div class="mobile-tab">
        <v-expansion-panels>
          <v-expansion-panel v-for="(item,i) in list" :key="i">
            <v-expansion-panel-header>{{item.name}}</v-expansion-panel-header>
            <v-expansion-panel-content v-for="(el,index) in item.text" :key="index">
              <a :href="el.link">{{el.label}}</a>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </div>
      <div class="desktop">
        <div v-for="(item,i) in list" :key="i">
          <h1>{{item.name}}</h1>
          <a v-for="(el,index) in item.text" :key="index" :href="el.link">{{el.label}}</a>
        </div>
      </div>
      <div class="follow">
        <header class="follow-header">
          <h1>Subscribe Now</h1>
          <div class="enter-name" :class="{'invalid': errors.name.trim() !== ''}">
            <input
              type="text"
              v-model="fields.name"
              @input="errors.name = ''"
              placeholder="Enter your Name"
            />
          </div>
          <span style="color: var(--lb-red); font-size: 0.8571rem;">{{ errors.name }}</span>
          <div class="enter-email" :class="{'invalid': errors.email.trim() !== ''}">
            <div class="email">
              <input
                v-model="fields.email"
                @input="errors.email = ''"
                :error-message="errors.email"
                type="email"
                placeholder="Enter Your Email Address"
              />
              <button :disabled="loading" @click="submitEmail" type="button">Submit</button>
            </div>
          </div>
          <span style="color: var(--lb-red); font-size: 0.8571rem;">{{ errors.email }}</span>
          <v-snackbar v-model="snackbar" :timeout="timeout">
            {{ success }}
            <v-btn color="blue" text @click="snackbar = false">Close</v-btn>
          </v-snackbar>
          <p>Stay up to date with the latest news and offers from Lendbox</p>
        </header>
        <main class="follow-main">
          <h1>Follow Us</h1>
          <div>
            <a href="https://www.facebook.com/LendBox/">
              <i class="fa fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/accounts/login/">
              <i class="fa fa-instagram"></i>
            </a>
            <a href="https://twitter.com/lendboxin">
             <i class="fa fa-twitter"></i>
            </a>
            <!-- <img /> -->
          </div>
        </main>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      snackbar: false,
      timeout: 3000,
      success: "",
      submit: false,
      loading: false,
      fields: {
        name: "",
        email: ""
      },
      errors: {
        name: "",
        email: ""
      },
      list: [
        {
          name: "About Lendbox",
          text: [
            {
              label: "Home",
              link: "/"
            },
            {
              label: "How it works",
              link: " how-it-works"
            },
            {
              label: "About us",
              link: " aboutUs"
            },
            {
              label: "Team",
              link: " aboutUs#team"
            },
            {
              label: "RBI's NBFC-P2P License",
              link: " nbfc-p2p"
            },
            {
              label: "Blogs",
              link: " blogs"
            },
            {
              label: "Calculate EMI",
              link: " #lb-calculator"
            },
            {
              label: "Broad Business Model",
              link: " broad-business-model"
            },
            {
              label: "Overview of Credit Methodology",
              link:
                "https://s3-ap-southeast-1.amazonaws.com/lendbox/website/documents/Overview-of-Credit-Meth.pdf"
            }
          ]
        },
        {
          name: "Investors",
          text: [
            {
              label: "Why Invest",
              link: " lenders#1"
            },
            {
              label: "Investors Eligibility",
              link: " lenders#2"
            },
            {
              label: "How to invest",
              link: " lenders#3"
            },
            {
              label: "Returns & Fees",
              link: " lenders#4"
            },
            {
              label: "Investors code of conduct",
              link: " lenders#5"
            },
            {
              label: "Investors FAQ",
              link: " lenders#investorsFAQ"
            },
            {
              label: "Tutorial for Investors",
              link: "https://app.lendbox.in/login"
            }
          ]
        },
        {
          name: "Borrowers",
          text: [
            {
              label: "Why Borrow",
              link: " borrowers#1"
            },
            {
              label: "Borrowers Eligibility",
              link: " borrowers#2"
            },
            {
              label: "How to create effective listing",
              link: " borrowers#3"
            },
            {
              label: "Purpose of Loan",
              link: " borrowers#4"
            },
            {
              label: "Repayment, Interest Rates",
              link: " borrowers#5"
            },
            {
              label: "Borrower FAQ",
              link: " borrowers#borrowersFAQ"
            },
            {
              label: "Tutorial for Borrowers",
              link: "https://app.lendbox.in/login"
            }
          ]
        },
        {
          name: "Legal",
          text: [
            {
              label: "Terms of use",
              link: " terms-of-use"
            },
            {
              label: "Privacy policy",
              link: " privacy-policy"
            },
            {
              label: "Fair Practices Code",
              link: " fair-practices-code"
            },
            {
              label: "RBI Disclaimer",
              link: " rbi-disclaimer"
            },
            {
              label: "Grievance Redressal",
              link:
                "https://s3-ap-southeast-1.amazonaws.com/lendbox/website/documents/Grievance-Redressal.pdf"
            },
            {
              label: "Portfolio Performance",
              link:
                "https://s3-ap-southeast-1.amazonaws.com/lendbox/website/documents/Portfolio-Performance.pdf"
            }
          ]
        }
      ]
    };
  },
  methods: {
    submitEmail() {
      try {
        if (this.fields.name.trim() === "") {
          this.errors.name = "Please enter your Name";
        }
        if (
          !/^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$/.test(
            this.fields.name.trim()
          )
        ) {
          this.errors.name = "Enter a valid name";
        }
        if (this.fields.email.trim() === "") {
          this.errors.email = "Please enter a valid email";
        }
        if (
          !/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(
            this.fields.email.trim()
          )
        ) {
          this.errors.email = "Enter a valid email";
          this.submit = false;
        } else {
          this.submit = true;
        }

        if (this.submit === true) {
          this.submitData();
        }
        // this.loading = true;
        // const response = await this.$axios.$get(
        //   `https://script.google.com/macros/s/AKfycbzIZNDSD__wXHdR9_jorLnqGg5H2c63eol0Ccjt4tD9asTzaaf5/exec?email=${this.fields.email.trim()}`,
        //   { headers: { "content-type": undefined } }
        // );
        // console.log("[submitEmail]", response);
        // this.loading = false;
      } catch (e) {
        console.log("[submitEmail]", e, e.response);
        this.loading = false;
      }
    },
    async submitData() {
      this.loading = true;
      try {
        const response = await this.$axios.$get(
          `http://api-dev.lendbox.in/v1/web/subscribe?name=${this.fields.name.trim()}&email=${this.fields.email.trim()}`
        );
        const success = response.success;
        // console.log("[submitEmail]", response);
        if (success === true) {
          this.success = "Successfully Registered";
          this.snackbar = true;
          this.loading = false;
          this.fields.name = "";
          this.fields.email = "";
        }
      } catch (e) {
        this.success = "Already Registered";
        this.snackbar = true;
        this.loading = false;
      }
    }
  }
};
</script>

<style lang="scss">
#lb-info {
  display: flex;

  a {
    text-decoration: none;
  }

  .lb-container {
    display: flex;
    flex-direction: column;
    flex: 1;

    .mobile-tab {
      //     display: flex;
      //   width: 100%;
      margin: 0 0 3.5714rem 0;
      //   padding: 0 0 3.5714rem 0;
      //   border-bottom: 0.0714rem solid #f5f5f5;

      .v-expansion-panel {
        margin: 0 0 0.7143rem 0;
        border-radius: 0.3571rem;
        border: solid 0.0714rem #f5f5f5;
        background-color: #ffffff;

        &:last-child {
          margin: 0;
        }
      }
      .v-expansion-panel-header {
        font-family: Muli;
        font-size: 0.8571rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #8a8a8f;
      }
      .v-expansion-panel-header--active {
        box-shadow: 0 0 1.4286rem 0 rgba(0, 0, 0, 0.06);
        border: solid 0.0714rem #1458ea;
        color: #1458ea;
        .v-icon.v-icon {
          color: #1458ea;
        }
      }
      .v-icon.v-icon {
        font-size: 2.1429rem;
        color: #262626;
      }
      .v-expansion-panel-content__wrap {
        padding: 1.4286rem;
        background-color: #f5f5f5;
        font-family: "Muli";
        font-size: 0.8571rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: left;
        color: #8a8a8f;
      }
    }
    .desktop {
      display: none;
    }
    .follow {
      display: flex;
      flex-direction: column;
      align-items: center;
      .follow-header {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        margin: 0 0 3.5714rem 0;

        > h1 {
          font-family: "Muli";
          font-size: 1.2857rem;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.0064rem;
          text-align: center;
          color: #262626;
          margin: 0 0 2.1429rem 0;
        }

        .enter-name {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 3.2857rem;
          border-radius: 0.3571rem;
          border: 0.0714rem solid #f5f5f5;
          border-radius: 0.3571rem;
          overflow: hidden;
          margin: 0 0 0.7143rem 0;
          justify-content: space-between;

          > input {
            display: flex;
            flex: 1;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0 0 0 1.4286rem;
            font-family: "Muli";
            font-size: 1.1429rem;
            font-weight: normal;
            font-style: normal;
            // margin: 0 5.7143rem 0 0;

            font-stretch: normal;
          }
        }
        .invalid {
          border-color: var(--lb-red);
        }
        .enter-email {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 3.2857rem;
          border-radius: 0.3571rem;
          border: 0.0714rem solid #f5f5f5;
          border-radius: 0.3571rem;
          overflow: hidden;
          margin: 0 0 0.7143rem 0;
          justify-content: space-between;

          .email {
            display: flex;
            flex: 1;
            > input[type="email"] {
              display: flex;
              flex: 1;
              padding: 0 0 0 1.4286rem;
              font-family: "Muli";
              font-size: 1.1429rem;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
            }
            > button[type="button"] {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #1458ea;
              width: 5.7143rem;
              font-family: "Muli";
              font-size: 1.2857rem;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              text-align: center;
              color: #ffffff;

              &:disabled {
                opacity: 0.5;
              }
            }
          }
        }
        > p {
          font-family: "Muli";
          font-size: 0.8571rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: center;
          color: #8a8a8f;
        }
      }
      .follow-main {
        display: flex;
        flex-direction: column;
        align-items: center;

        > h1 {
          font-family: "Muli";
          font-size: 1.2857rem;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: left;
          color: #262626;
          margin: 0 0 2.1429rem 0;
        }
        > div {
          display: flex;
          width: 12.8571rem;
          justify-content: space-between;

          > a {
            width: 2.8571rem;
            height: 2.8571rem;
            border-radius: 0.3571rem;
            background-color: #8a8a8f;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            transition: all 0.4s ease;

            &:hover {
              background-color: #1458ea;
            }
          }
        }
      }
    }
  }
  @media only screen and(min-width:768px) {
    .lb-container {
      display: flex;
      flex-direction: column;
      flex: 1;

      .mobile-tab {
        //     display: flex;
        //   width: 100%;
        margin: 0 0 3.5714rem 0;
        padding: 0 0 3.5714rem 0;
        border-bottom: 0.0714rem solid #f5f5f5;

        .v-expansion-panel {
          margin: 0 0 0.7143rem 0;
          border-radius: 0.3571rem;
          border: solid 0.0714rem #f5f5f5;
          background-color: #ffffff;

          &:last-child {
            margin: 0;
          }
        }
        .v-expansion-panel-header {
          font-family: Muli;
          font-size: 0.8571rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #8a8a8f;
        }
        .v-expansion-panel-header--active {
          box-shadow: 0 0 1.4286rem 0 rgba(0, 0, 0, 0.06);
          border: solid 0.0714rem #1458ea;
          color: #1458ea;
          .v-icon.v-icon {
            color: #1458ea;
          }
        }
        .v-icon.v-icon {
          font-size: 2.1429rem;
          color: #262626;
        }
        .v-expansion-panel-content__wrap {
          padding: 1.4286rem;
          background-color: #f5f5f5;
          font-family: "Muli";
          font-size: 0.8571rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: left;
          color: #8a8a8f;
        }
      }
      .desktop {
        display: none;
      }
      .follow {
        display: flex;
        flex-direction: column;
        align-items: center;
        .follow-header {
          display: flex;
          width: 100%;
          align-items: center;
          flex-direction: column;
          margin: 0 0 3.5714rem 0;

          > h1 {
            font-family: "Muli";
            font-size: 1.4286rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.0064rem;
            text-align: center;
            color: #262626;
            margin: 0 0 1.4286rem 0;
          }

          .enter-email,
          .enter-name {
            display: flex;
            width: 100%;
            height: 3.2857rem;
            border-radius: 0.3571rem;
            border: 0.0714rem solid #f5f5f5;
            border-radius: 0.3571rem;
            overflow: hidden;
            margin: 0 0 0.7143rem 0;

            > input[type="email"] {
              display: flex;
              flex: 1;
              padding: 0 0 0 1.4286rem;
              font-family: "Muli";
              font-size: 1.1429rem;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
            }
            > button[type="button"] {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #1458ea;
              width: 5.7143rem;
              font-family: "Muli";
              font-size: 1.2857rem;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              text-align: center;
              color: #ffffff;
            }
          }
          > p {
            font-family: "Muli";
            font-size: 0.8571rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;
            color: #8a8a8f;
          }
        }
        .follow-main {
          display: flex;
          flex-direction: column;
          align-items: center;

          > h1 {
            font-family: "Muli";
            font-size: 1.4286rem;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            color: #262626;
            margin: 0 0 1.4286rem 0;
          }
          > div {
            display: flex;
            width: 12.8571rem;
            justify-content: space-between;

            > img {
              width: 2.8571rem;
              height: 2.8571rem;
              border-radius: 0.3571rem;
              background-color: grey;
            }
          }
        }
      }
    }
  }
  @media only screen and(min-width:1024px) {
    .lb-container {
      display: flex;
      flex-direction: row;
      flex: 1;

      .mobile-tab {
        display: none;
      }
      .desktop {
        display: flex;
        flex: 5;
        justify-content: space-between;

        margin: 0 3.5714rem 0 0;
        padding: 0 3.5714rem 0 0;
        border-right: 0.0714rem solid #f5f5f5;

        > div {
          display: flex;
          flex-direction: column;
          margin: 0 0.7143rem 0 0;

          &:last-child {
            margin: 0;
          }
          > h1 {
            font-family: "Muli";
            font-size: 1.2857rem;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            color: #262626;
            margin: 0 0 2.8571rem 0;
          }
          > a {
            font-family: "Muli";
            font-size: 1.1429rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            color: #8a8a8f;
            margin: 0 0 0.7143rem 0;
          }
        }
      }
      .follow {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .follow-header {
          display: flex;
          width: 100%;
          align-items: flex-start;
          flex-direction: column;
          margin: 0 0 3.5714rem 0;

          > h1 {
            font-family: "Muli";
            font-size: 1.4286rem;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.0064rem;
            text-align: center;
            color: #262626;
            margin: 0 0 1.4286rem 0;
          }

          .enter-email,
          .enter-name {
            display: flex;
            width: 100%;
            height: 3.2857rem;
            border-radius: 0.3571rem;
            border: 0.0714rem solid #f5f5f5;
            border-radius: 0.3571rem;
            overflow: hidden;
            margin: 0 0 0.7143rem 0;

            > input[type="email"] {
              display: flex;
              flex: 1;
              padding: 0 0 0 1.4286rem;
              font-family: "Muli";
              font-size: 1.1429rem;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
            }
            > input[type="button"] {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #1458ea;
              width: 5.7143rem;
              font-family: "Muli";
              font-size: 1.2857rem;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              text-align: center;
              color: #ffffff;
            }
          }
          > p {
            font-family: "Muli";
            font-size: 1rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;
            color: #8a8a8f;
          }
        }
        .follow-main {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          > h1 {
            font-family: "Muli";
            font-size: 1.4286rem;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            color: #262626;
            margin: 0 0 1.4286rem 0;
          }
          > div {
            display: flex;
            width: 12.8571rem;
            justify-content: space-between;

            > img {
              width: 2.8571rem;
              height: 2.8571rem;
              border-radius: 0.3571rem;
              background-color: grey;
            }
          }
        }
      }
    }
  }
}
</style>