<template>
  <div class="lending-help lb-section">
    <div class="lb-container">
      <header class="lending-help-header">
        <h1>
          How Peer To Peer Lending
          Can Help You
        </h1>
        <p>A peer to peer lending platform connects credit seeking individuals with lenders willing to multiply their surplus wealth. Lendbox has been trusted by doctors, engineers, businessmen and many more for their investing and financing needs.</p>
      </header>
      <main class="lending-help-main">
        <div class="item" v-for="(item,index) in list" :key="index">
          <img class="bg-sml-img gears" :src="require('@/assets/images/gears.svg')" />
          <img class="bg-sml-img circle" :src="require('@/assets/images/circle.svg')" />
          <img class="bg-sml-img plus" :src="require('@/assets/images/plus.svg')" />
          <img :src="item.img" />
          <h1>{{item.label}}</h1>
          <p v-for="(text,i) in item.text.split('$')" :key="i" v-html="text"></p>
          <div class="item-buttons">
            <input type="submit" :value="item.button" @click="openurl(item.url1)" />
            <input type="submit" value="Read More >>" @click="openurl(item.url2)" />
          </div>
        </div>
      </main>
      <footer class="lending-help-footer"></footer>
    </div>
  </div>
</template>

<script>
export default {
  computed: {},
  methods: {
    listText(text) {
      return text.split("$");
    },

    openurl(link) {
      if (process.browser) {
        window.open(link,"_SELF");
      }
    }
  },
  data() {
    return {
      list: [
        {
          img: require("@/assets/images/Wanttoinvest.svg"),
          label: "Want to invest ?",
          button: "Invest Now",
          text:
            "1. On an average, our investors earn a return of 16 - 18% (risk adjusted, net returns)" +
            "$2. Invest as little as &#8377; 10,000 in multiple verified & creditworthy borrowers" +
            "$3. Earn monthly returns without any hidden charges",
          url1: "https://app.lendbox.in/signup",
          url2: "lenders"
        },
        {
          img: require("@/assets/images/Needaloan.svg"),
          label: "Need a loan ?",
          button: "Apply for a Loan",
          text:
            "1. Save more with low interest rates as low as 12%" +
            "$2. Hassle free borrowing process, interact with investors directly" +
            "$3. Avail small loans of &#8377; 25,000 to &#8377; 5,00,000 without any hidden charges",
          url1: "https://app.lendbox.in/signup/borrower",
          url2: "borrowers"
        }
      ]
    };
  }
};
</script>

<style lang="scss">
.lending-help {
  .lb-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .lending-help-header {
      margin: 0 0 2.1429rem 0;
      > h1 {
        font-family: "Muli";
        font-size: 1.4286rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #222222;
        margin: 0 0 1.4286rem 0;
      }
      > p {
        font-family: "Muli";
        font-size: 0.8571rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #8a8a8f;
      }
    }

    .lending-help-main {
      display: flex;
      flex-direction: column;
      width: 100%;

      .item {
        position: relative;
        overflow: hidden;
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 2.1429rem;
        border-radius: 0.3571rem;
        // box-shadow: 0.7143rem 0.7143rem 2.1429rem 0 rgba(0, 0, 0, 0.04);
        border: solid 0.0714rem #f5f5f5;
        margin: 0 0 1.4286rem 0;
        background-color: white;

        &:hover {
          box-shadow: 0.7143rem 0.7143rem 2.1429rem 0 rgba(0, 0, 0, 0.04);
        }

        &:last-child {
          margin: 0;
          .bg-sml-img {
            position: absolute;
            &.gears {
              top: 28.5714rem;
              bottom: 0rem;
              right: 0.9286rem;
            }
            &.circle {
              opacity: 0.05;
              width: 1.4286rem;
              height: 1.4286rem;
              top: 8.4286rem;
              right: 5.1429rem;
            }
            &.plus {
              opacity: 0.05;
              width: 1.4286rem;
              height: 1.4286rem;
              top: 10rem;
              right: 1.9286rem;
            }
          }
        }
        .bg-sml-img {
          position: absolute;
          &.gears {
            top: 2.5714rem;
            right: 2.5714rem;
          }
          &.circle {
            opacity: 0.05;
            width: 1.4286rem;
            height: 1.4286rem;
            top: 18.7857rem;
            right: 5.6429rem;
          }
          &.plus {
            opacity: 0.05;
            width: 1.4286rem;
            height: 1.4286rem;
            top: 22.3571rem;
            right: 2.1429rem;
          }
        }

        > img {
          width: 5.7143rem;
          height: 5.7143rem;
          margin: 0 0 2.1429rem 0;
          border-radius: 100%;
        }
        > h1 {
          font-family: "Muli";
          font-size: 1.4286rem;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: left;
          color: #222222;
          margin: 0 0 1.4286rem 0;
        }
        > p {
          font-family: "Muli";
          font-size: 0.8571rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: left;
          color: #8a8a8f;
          margin: 0 0 1.4286rem 0;

          //   &:last-child {
          //     margin: 0 0 3.5714rem 0;
          //   }
        }
        .item-buttons {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 2.1429rem 0 0 0;
          > input[type="submit"] {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:first-child {
              width: 13.9286rem;
              margin: 0 0 1.4286rem 0;
              padding: 0.8571rem 3.5714rem 0.8571rem 3.5714rem;
              border-radius: 0.3571rem;
              background-color: #1458ea;

              font-family: "Muli";
              font-size: 1.2857rem;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              text-align: center;
              color: #ffffff;
            }
            &:last-child {
              font-family: "Muli";
              font-size: 1.2857rem;
              font-weight: 600;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              text-align: left;
              color: #1458ea;
            }
          }
        }
      }
    }
  }
  @media only screen and(min-width:768px) {
    .lb-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .lending-help-header {
        margin: 0 0 3.5714rem 0;
        > h1 {
          font-family: "Muli";
          font-size: 1.7143rem;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: center;
          color: #222222;
          margin: 0 0 2.1429rem 0;
        }
        > p {
          font-family: "Muli";
          font-size: 1rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: center;
          color: #8a8a8f;
        }
      }

      .lending-help-main {
        display: flex;
        flex-direction: column;
        width: 100%;

        .item {
          display: flex;
          flex: 1;
          flex-direction: column;
          padding: 2.1429rem;
          // border-radius: 0.3571rem;
          // box-shadow: 0.7143rem 0.7143rem 2.1429rem 0 rgba(0, 0, 0, 0.04);
          // border: solid 0.0714rem #f5f5f5;
          margin: 0 0 1.4286rem 0;

          &:last-child {
            margin: 0;

            .bg-sml-img {
              position: absolute;
              &.gears {
                top: 13.7143rem;
                right: 2.4286rem;
              }
              &.circle {
                top: 1.3571rem;
                right: 22.6429rem;
              }
              &.plus {
                top: 4.5714rem;
                right: 19.5714rem;
              }
            }
          }
          .bg-sml-img {
            position: absolute;
            &.gears {
              top: 0.5714rem;
              right: 3.2143rem;
            }
            &.circle {
              top: 18.4286rem;
              right: 16.3571rem;
            }
            &.plus {
              top: 21.6429rem;
              right: 13.2857rem;
            }
          }

          > img {
            width: 4.2857rem;
            height: 4.2857rem;
            margin: 0 0 2.1429rem 0;
            border-radius: 100%;
          }
          > h1 {
            font-family: "Muli";
            font-size: 1.4286rem;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            color: #222222;
            margin: 0 0 1.4286rem 0;
          }
          > p {
            font-family: "Muli";
            font-size: 1rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            color: #8a8a8f;
            margin: 0 0 1.4286rem 0;

            //   &:last-child {
            //     margin: 0 0 3.5714rem 0;
            //   }
          }
          .item-buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 2.1429rem 0 0 0;
            > input[type="submit"] {
              cursor: pointer;
              &:first-child {
                width: 13.9286rem;
                margin: 0 2.1429rem 0 0;
                padding: 0.8571rem 3.5714rem 0.8571rem 3.5714rem;
                border-radius: 0.3571rem;
                background-color: #1458ea;

                font-family: "Muli";
                font-size: 1.2857rem;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                text-align: center;
                color: #ffffff;
              }
              &:last-child {
                font-family: "Muli";
                font-size: 1.2857rem;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                text-align: left;
                color: #1458ea;
              }
            }
          }
        }
      }
    }
  }
  @media only screen and(min-width:1024px) {
    .lb-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .lending-help-header {
        margin: 0 0 6.3571rem 0;
        > h1 {
          font-family: "Muli";
          font-size: 2.1429rem;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: center;
          color: #222222;
          margin: 0 0 2.1429rem 0;
        }
        > p {
          font-family: "Muli";
          font-size: 1.2857rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: center;
          color: #8a8a8f;
        }
      }

      .lending-help-main {
        display: flex;
        flex-direction: row;
        width: 100%;

        .item {
          display: flex;
          flex: 1;
          flex-direction: column;
          padding: 2.1429rem;
          border-radius: 0.3571rem;
          // box-shadow: 0.7143rem 0.7143rem 2.1429rem 0 rgba(0, 0, 0, 0.04);
          // border: solid 0.0714rem #f5f5f5;
          margin: 0 2.1429rem 0 0;

          .bg-sml-img {
            position: absolute;
            &.gears {
              top: 0.5714rem;
              right: 0.5714rem;
            }
            &.circle {
              top: 21.7143rem;
              right: 18.4286rem;
            }
            &.plus {
              top: 25.2857rem;
              right: 15.6429rem;
            }
          }

          &:last-child {
            margin: 0;

            .bg-sml-img {
              position: absolute;
              &.gears {
                top: 21.7143rem;
                right: 1.4286rem;
              }
              &.circle {
                top: 9.3571rem;
                right: 2.3571rem;
              }
              &.plus {
                top: 12.8571rem;
                right: 1.9286rem;
              }
            }
          }

          > img {
            width: 5.7143rem;
            height: 5.7143rem;
            margin: 0 0 2.1429rem 0;
            border-radius: 100%;
          }
          > h1 {
            font-family: "Muli";
            font-size: 1.7143rem;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            color: #222222;
            margin: 0 0 1.4286rem 0;
          }
          > p {
            font-family: "Muli";
            font-size: 1.1429rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            color: #8a8a8f;
            margin: 0 0 1.4286rem 0;

            //   &:last-child {
            //     margin: 0 0 3.5714rem 0;
            //   }
          }
          .item-buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 2.1429rem 0 0 0;
            > input[type="submit"] {
              cursor: pointer;
              &:first-child {
                width: 13.9286rem;
                margin: 0 2.1429rem 0 0;
                padding: 0.8571rem 3.5714rem 0.8571rem 3.5714rem;
                border-radius: 0.3571rem;
                background-color: #1458ea;

                font-family: "Muli";
                font-size: 1.2857rem;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                text-align: center;
                color: #ffffff;
              }
              &:last-child {
                font-family: "Muli";
                font-size: 1.2857rem;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                text-align: left;
                color: #1458ea;
              }
            }
          }
        }
      }
    }
  }
}
</style>