<template>
  <div id="numbers-section" class="lb-section">
    <div class="lb-container">
      <div>
        <h1>{{regInv | currency}}</h1>
        <h2>Registered Investors</h2>
      </div>
      <div>
        <h1>{{totalDis | mn }}</h1>
        <h2>Amount Disbursed</h2>
      </div>
      <div>
        <h1>{{regBor|currency}}</h1>
        <h2>Registered Borrowers</h2>
      </div>
      <div>
        <h1>{{asked | mn}}</h1>
        <h2>Asked Last Month</h2>
      </div>
      <div>
        <h1>{{avgRet | rate}}</h1>
        <h2>Average Returns</h2>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    regInv: {
      type: Number,
      required: true,
      default: 0
    },
    totalDis: {
      type: Number,
      required: true,
      default: 0
    },
    regBor: {
      type: Number,
      required: true,
      default: 0
    },
    asked: {
      type: Number,
      required: true,
      default: 0
    },
    avgRet: {
      type: Number,
      required: true,
      default: 0
    }
  }
};
</script>

<style lang="scss">
#numbers-section {
  display: flex;

  .lb-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    > div {
      display: flex;
      flex-direction: column;
      width: 45%;
      padding: 1.4286rem 0 1.4286rem 0;
      background-color: #f6f9ff;
      margin: 0.4286rem;

      > h1 {
        font-family: "Muli";
        font-size: 1.4286rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #1458ea;
        // margin:0 0 0.7143rem 0;
      }
      > h2 {
        font-family: "Muli";
        font-size: 0.7143rem;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #222222;
      }
    }
  }
  @media only screen and(min-width: 768px) {
    background-color: #f6f9ff;
    .lb-container {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      > div {
        display: flex;
        flex-direction: column;
        width: auto;
        flex: 1;
        padding: 1.4286rem 0 1.4286rem 0;
        background-color: #f6f9ff;
        margin: 0;

        > h1 {
          font-family: "Muli";
          font-size: 1.7143rem;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: center;
          color: #1458ea;
          // margin:0 0 0.7143rem 0;
        }
        > h2 {
          font-family: "Muli";
          font-size: 0.7143rem;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: center;
          color: #222222;
        }
      }
    }
  }
  @media only screen and(min-width: 1024px) {
    background-color: #f6f9ff;
    .lb-container {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      > div {
        display: flex;
        flex-direction: column;
        width: auto;
        flex: 1;
        padding: 3.5714rem 1.0714rem 3.5714rem 1.0714rem;
        background-color: #f6f9ff;
        margin: 0;

        > h1 {
          font-family: "Muli";
          white-space: nowrap;
          font-size: 2.5714rem;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: center;
          color: #1458ea;
          // margin:0 0 0.7143rem 0;
        }
        > h2 {
          font-family: "Muli";
          font-size: 1.2857rem;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: center;
          color: #222222;
        }
      }
    }
  }
}
</style>