<template>
<div class="widget">
</div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
.widget{
    background-color: green ;
    position: relative;
    overflow-x:hidden;
    overflow-y:auto;
    // background-color: transparent;
    margin:0 16px 0 16px;


    @media only screen and(min-width: 768px)
    {
        margin: 0 80px 0 80px;
    }
        @media only screen and(min-width: 1024px)
    {
        margin: 0 140px 0 140px;
    }
}
</style>