<template>
  <div id="contact-slider" :class="{'slider-on' : slider}">
    <div class="toggle" @click="slider=!slider">
      <v-icon color="#1458ea" size="35">mdi-phone</v-icon>
    </div>
    <main>
      <div class="list-head list-item">
        <h1>Contact Us</h1>
        <v-icon @click="slider=!slider">mdi-close</v-icon>
      </div>
      <div class="list-item" @click="openurl('tel:7291027919')">
        <div class="icon">
          <v-icon color="white" size="28">mdi-phone</v-icon>
        </div>
        <div class="content">
          <a href="tel:7291027919">+91-7291027919</a>
        </div>
      </div>
      <div class="list-item" @click="callback=true">
        <div class="icon">
          <v-icon color="white" size="28">mdi-cellphone-iphone</v-icon>
        </div>
        <div class="content" v-if="!callback">
          <p>Request a Call back</p>
        </div>
        <div class="content callback" v-else>
          <input type="number" v-model="number" placeholder="Please enter your Number" />
          <button @click="requestCallBack()">
            <img :src="require('@/assets/svg/chevron_right_primary.webp')" />
          </button>
        </div>
      </div>
      <div class="list-item" @click="openurl('mailto:support@lendbox.in')">
        <div class="icon">
          <v-icon color="white" size="28">mdi-email</v-icon>
        </div>
        <div class="content">
          <a href="mailto:support@lendbox.in">support@lendbox.in</a>
        </div>
      </div>
      <div class="list-item">
        <div class="icon">
          <v-icon color="white" size="28">mdi-twitter</v-icon>
        </div>
        <div class="content">
          <a
            href="https://twitter.com/lendboxin "
            class="twitter-follow-button"
            data-show-count="false"
          >Follow @lendboxin</a>
        </div>
      </div>
      <div class="list-item">
        <div class="icon">
          <v-icon color="white" size="28">mdi-facebook</v-icon>
        </div>
        <div class="content">
          <div
            class="fb-like"
            data-href="https://www.facebook.com/LendBox"
            data-width="200px"
            data-layout="button_count"
            data-action="like"
            data-show-faces="true"
            data-share="true"
          ></div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  mounted() {},

  methods: {
    openurl(link) {
      if (process.browser) {
        window.open(link, "_SELF");
      }
    },
    requestCallBack() {
      if (!/^[0][1-9]\d{9}$|^[1-9]\d{9}$/.test(this.number.trim())) {
        this.error = "Please Enter a valid Number";
        console.log("error", this.error);
        // this.send=false;
      } else {
        this.sendData();
      }
    },
    async sendData() {
      try {
        const response = await this.$axios.$post("/callbackRequest", {
          mobile: this.number,
          url: window.location.href
        });

        console.log("[sendData]", response);
      } catch (e) {
        console.log("[sendData]", e, e.response);
      }
    }
  },
  data() {
    return {
      error: "",
      snackbar: false,
      timeout: 30000,
      success: "",
      number: "",
      callback: false,
      slider: false
    };
  }
};
</script>

<style lang="scss">
#contact-slider {
  //   position: fixed;
  //   right: 0;
  display: flex;
  //   margin: 7.0714rem 0 0 0;
  transition: all 0.3s ease-out;
  width: 100%;
  max-width: 469.9996px;
  transform: translateX(calc(100% - 49.9996px));

  &.slider-on {
    transform: translateX(0);
  }
  //   &.slider-off {
  //     right: -100%;
  //   }
  .toggle {
    cursor: pointer;
    width: 49.9996px;
    height: 49.9996px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: -2.0006px 2.0006px 10.0002px -4.9994px black;
    border-top-left-radius: 4.9994px;
    border-bottom-left-radius: 4.9994px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and(max-width:768px) {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }

  > main {
    display: flex;
    flex: 1;
    background-color: white;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    padding: 1.0714rem;
    border-bottom-left-radius: 0.3571rem;
    box-shadow: 0rem 0.2143rem 0.4286rem -0.3571rem black;

    > .list-item {
      cursor: pointer;
      display: flex;
      width: 100%;
      border-radius: 0.3571rem;
      overflow: hidden;
      height: 3.8571rem;
      //   border: 0.0714rem solid black;
      box-shadow: 0.0714rem 0.0714rem 0.5rem -0.3571rem black;
      margin: 0 0 1.4286rem 0;

      &:last-child {
        margin: 0;
      }

      > .icon {
        display: flex;
        height: 100%;
        width: 3.7143rem;
        justify-content: center;
        align-items: center;
        background-color: #1458ea;
      }

      > .content {
        display: flex;
        flex: 1;
        justify-content: flex-start;
        align-items: center;
        padding: 1.0714rem;

        > a {
          text-decoration: none;
          font-size: 1rem;
          color: #262626;
        }

        &.callback {
          display: flex;
          flex: 1;

          display: flex;
          flex: 1;
          input[type="number"] {
            display: flex;
            flex: 1;
            margin: 0 0.7143rem 0 0;
          }
          > button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 0 0.3571rem 0 0.3571rem;
            background-color: #1458ea;
            border-radius: 0.3571rem;
            color: white;
            > img {
              width: 7px;
              height: auto;
            }
          }
        }
      }
      &.list-head {
        height: auto;
        margin: 0 0 0.7143rem 0;
        box-shadow: none;
        display: flex;
        justify-content: space-between;

        > h1 {
          font-family: "Muli";
          font-size: 1.2857rem;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: center;
          color: #262626;
        }
      }
    }
  }
}
</style>