@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
:root {
    --lb-primary: #1458ea;
    --lb-primary-dark: #134fd1;
    --lb-secondary: #ff9500;
    --lb-secondary-dark: #824b00;
    --lb-grey: #f5f5f5;
    --lb-grey-dark: #cccccc;
    --lb-grey-darker: #8a8a8f;
    --lb-text: #262626;
    --lb-green: #6dd400;
    --lb-red: #ff4141;
    font-size: 14px;
  }
  
  html,
  body {
    font-family: 'Muli', sans-serif;
  }
  p,h1,h2,h3{
    padding:0;
    margin:0;
  }

  * {
    box-sizing: border-box;
  }
  ::selection {
    background-color: white;}
  @media only screen and (max-device-width: 1279px) {
    :root {
      font-size: 14px;
    }
  }
  @media only screen and (min-device-width: 1280px) {
    :root {
      font-size: 11.2px;
    }
  }
  @media only screen and (min-device-width: 1920px) {
    :root {
      font-size: 14px;
    }
  }
  