<template>
  <v-app>
    <v-app-bar
      :light="scroll"
      :dark="!scroll"
      fixed
      elevate-on-scroll
      :color="scroll ? '#1458ea':'transparent'"
      scroll-target
    >
      <!-- :class="{'scroll-down':(scroll)}" -->
      <div class="lb-container lb-nav-bar">
        <img class="ham" @click="drawer=!drawer" src="@/assets/images/ham.svg" />
        <a href="/">
          <img class="lb-logo" src="@/assets/svg/Logo.webp" />
        </a>
        <main class="lb-nav-main">
          <a v-for="(item,i) in navList" :key="i" :href="item.href">{{item.title}}</a>
          <v-menu
            :open-on-hover="true"
            :close-on-click="true"
            :close-on-content-click="true"
            :offset-y="true"
          >
            <template v-slot:activator="{ on }">
              <a text color="white" v-on="on">
                Loans
                <img
                  class="signup-chevron"
                  :src="require('@/assets/images/chevron_down_primary_white.webp')"
                />
              </a>
            </template>
            <v-list>
              <v-list-item v-for="(item, index) in loan" :key="index" @click="openurl(item.link)">
                <v-list-item-title>{{ item.label }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
          <v-menu
            :open-on-hover="true"
            :close-on-click="true"
            :close-on-content-click="true"
            :offset-y="true"
          >
            <template v-slot:activator="{ on }">
              <v-btn light v-on="on" depressed>
                signup
                <img
                  class="signup-chevron"
                  :src="require('@/assets/images/chevron_down_primary.webp')"
                />
              </v-btn>
            </template>
            <v-list>
              <v-list-item v-for="(item, index) in signup" :key="index" @click="openurl(item.url)">
                <v-list-item-title>{{ item.name }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
          <v-btn
            class="ma-2"
            outlined
            color="white"
            @click="openurl('https://app.lendbox.in/login')"
          >Login</v-btn>
        </main>
      </div>
    </v-app-bar>
    <v-navigation-drawer class="side-nav" v-model="drawer" fixed temporary>
      <v-list dense>
        <v-list-item v-for="item in navList" :key="item.title" link>
          <a class="side-a" :href="item.href">{{item.title}}</a>
        </v-list-item>
        <v-list-item>
          <v-menu
            :open-on-hover="true"
            :close-on-click="true"
            :close-on-content-click="true"
            :offset-y="true"
          >
            <template v-slot:activator="{ on }">
              <a class="side-nav-loan" text color="#1458ea" v-on="on">
                Apply for Loan
                <img
                  class="signup-chevron"
                  :src="require('@/assets/images/chevron_down_primary.webp')"
                />
              </a>
            </template>
            <v-list>
              <v-list-item v-for="(item, index) in loan" :key="index" @click="openurl(item.link)">
                <v-list-item-title>{{ item.label }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-list-item>
        <v-list-item>
          <v-menu
            :open-on-hover="true"
            :close-on-click="true"
            :close-on-content-click="true"
            :offset-y="true"
          >
            <template v-slot:activator="{ on }">
              <v-btn class="side-signup" color="white" light v-on="on" depressed>
                signup
                <img
                  class="signup-chevron"
                  :src="require('@/assets/images/chevron_down_primary.webp')"
                />
              </v-btn>
            </template>
            <v-list>
              <v-list-item v-for="(item, index) in signup" :key="index" @click="openurl(item.url)">
                <v-list-item-title>{{ item.name }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-list-item>
        <v-list-item>
          <v-btn
            class="ma-2 side-login"
            outlined
            color="#1458ea"
            @click="openurl('https://app.lendbox.in/login')"
          >Login</v-btn>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-content>
      <nuxt />
    </v-content>
    <Contact class="contact-widget" />
  </v-app>
</template>

<script>
import Contact from "@/components/Contact";
export default {
  components: {
    Contact
  },
  data() {
    return {
      drawer: false,
      activeLink: 0,
      scroll: false,
      loan: [
        {
          label: "Instant Personal Loan",
          link: "instant-personal-loan-online-india"
        },
        // {
        //   label: "Invest Money Online",
        //   link: "lenders"
        // },
        {
          label: "Short Term Loan",
          link: "short-term-loan-online-india"
        },
        {
          label: "Marriage Loan",
          link: "marriage-loan-online"
        },
        {
          label: "Debt Consolidation Loan",
          link: "debt-consolidation-loan-india"
        },
        // {
        //   label: "Bad Credit Loan",
        //   link: "get-personal-loans-with-bad-credit-via-lendbox-platform"
        // },
        {
          label: "Credit Card Repayment Loan",
          link: "credit-card-repayment-loan-online"
        },
        {
          label: "Small Personal Loan",
          link: "small-personal-loan-online"
        }
      ],
      signup: [
        { name: "Invest Now", url: "https://app.lendbox.in/signup" },
        {
          name: "Apply for a Loan",
          url: "https://app.lendbox.in/signup/borrower"
        }
      ],
      navList: [
        //
        { title: "How it Works", href: "how-it-works" },
        { title: "Investors", href: "lenders" },
        { title: "Borrowers", href: "borrowers" },
        { title: "Blogs", href: "blogs" },
        { title: "About Us", href: "aboutUs" }
        // {
        //   title: "Personal Loan",
        //   href: "instant-personal-loan-online-india"
        // }
      ]
    };
  },
  methods: {
    openurl(link) {
      if (process.browser) {
        window.open(link, "_SELF");
      }
    },
    handleScroll() {
      // console.log(window.scrollY);
      this.scroll = window.scrollY > 0;
    }
  },
  created() {
    if (process.browser) {
      window.addEventListener("scroll", this.handleScroll);
    }
  },
  mounted() {
    this.handleScroll();
    if (typeof window !== undefined) {
      window.fcWidget.init({
        token: "bf612d58-0f25-4162-946c-58383df46eb6",
        host: "https://wchat.freshchat.com",
        config: {
          headerProperty: {
            direction: "rtl"
          }
        }
      });
    }
  },
  destroyed() {
    if (process.browser) {
      window.removeEventListener("scroll", this.handleScroll);
    }
  }
};
</script>

<style lang="scss">
.contact-widget {
  z-index: 1;
  right: 0;
  position: fixed;
  margin: 4.2857rem 0 0 0;
  max-height: fit-content;

  @media only screen and(min-width:768px) {
    margin: 6.4286rem 0 0 0;
  }
}
.d-hotline {
  background-color: #1458ea !important;
  color: #ffffff !important;
  border-color: transparent #1458ea transparent transparent;
}
.v-application p {
  margin: 0;
}
.signup-chevron {
  margin: 0 0 0 0.5714rem;
  width:0.8571rem;
}
.side-a {
  width: 100%;
  // height: 100%;
  // display: flex;
  // margin: 0 0 0 2.1429rem;
  text-decoration: none;
  color: #1458ea;
}
.side-signup,
.side-login {
  width: 100%;

  &.side-login {
    width: 14.2857rem;
  }
}
input[type="button"] {
  .side-nav-loan {
    padding: 0;
  }
}

/*nav bar*/
.lb-nav-bar {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  text-align: center;

  &.lb-container {
    margin: 0;
    align-items: center;
  }

  > .ham {
    // position: absolute;
    // top: 0;
    // left: 0;
    display: flex;
    justify-self: flex-start;
    height: auto;
    width: 2rem;
    display: flex;
  }

  > a {
    justify-self: center;
    margin-left: calc(55% - 8.9286rem);
    > .lb-logo {
      // display: flex;
      // flex: 0.2;
      height: auto;
      width: 10rem;
    }
  }
  .v-menu--inline {
    display: none;
  }
  .lb-nav-main {
    display: none;

    &.nav-down {
      > a {
        color: #8a8a8f;
      }
    }
  }
  @media only screen and(min-width:1024px) {
    &.lb-container {
      // margin: 0 0.7143rem 0 0.7143rem;
      justify-content: space-between;
    }

    .ham {
      display: none;
    }
    > a {
      margin: 0 1.4286rem 0 0;
      > .lb-logo {
        height: auto;
        width: 10rem;
      }
    }
    .lb-nav-main {
      display: flex;
      align-items: center;
      flex: 0.8;
      justify-content: space-between;

      > a {
        font-family: "Muli";
        font-size: 1.1429rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        white-space: nowrap;
        margin: 0 0.7143rem 0 0;
        text-decoration: none;
      }
      > input[type="submit"] {
        font-family: "Muli";
        font-size: 1.1429rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        white-space: nowrap;

        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0;
        border-radius: 0.3571rem;
        padding: 0.7143rem 1.4286rem 0.7143rem 1.4286rem;
        margin: 0 0.7143rem 0 0;

        &.signup {
          background-color: white;
          color: #262626;
        }
        &.login {
          background-color: transparent;
          border: 0.0714rem solid white;
          color: #ffffff;
          margin: 0;
        }
      }
    }
  }

  &.scroll-down {
    .lb-nav-main {
      > a {
        color: #262626;
      }
    }
  }
  @media only screen and(min-width:1360px) {
    &.lb-container {
      margin: 0 10rem 0 10rem;
    }
    .lb-nav-main {
      flex: 0.7;
    }
  }
}

/*nav-bar ends*/

.lb-section {
  background-color: white;
  overflow-x: hidden;

  &:first-child {
    padding: 7.0714rem 0 0 0;
  }
  .item {
    transition: 0.4s all ease;
    border-radius: 0.3571rem;
  }
}
.bg-sml-img {
  pointer-events: none;
  position: absolute;
  width: auto;
  height: auto;
}
.lb-sub-container {
  position: relative;
  margin: 0;
  background-color: transparent;

  @media only screen and(min-width:1360px) {
    margin-right: 21.4286rem !important;
    margin-left: 21.4286rem !important;
  }
}
.lb-container {
  position: relative;
  margin: 0 1.1429rem 0 1.1429rem;
  background-color: transparent;

  @media only screen and(min-width: 768px) {
    margin: 0 5.7143rem 0 5.7143rem;
  }
  @media only screen and(min-width: 1024px) {
    margin: 0 10rem 0 10rem;
  }
}
</style>