<template>
  <div id="lb-home" class="lb-page">
    <div>
      <img class="bg-sml-img section-3-4" :src="require('@/assets/images/bean.webp')" />
      <img class="bg-sml-img section-4-5" :src="require('@/assets/images/bean.webp')" />
      <img class="bg-sml-img section-5-6" :src="require('@/assets/images/bean.webp')" />
    </div>
    <Section1 />
    <Section2
      :regInv="regInv"
      :totalDis="totalDis"
      :regBor="regBor"
      :asked="asked"
      :avgRet="avgRet"
    />
    <Section3 />
    <Section4 />
    <Section5 />
    <Section6 />
    <Section7 />
    <Section8 />
    <Section9 />
    <Section10 />
    <Section11 />
    <Section12 />
    <Section13 />
    <Section14 />
    <section15 />
    <Section16 />
    <Section17 />
  </div>
</template>

<script>
import Section1 from "@/components/home/Section1";
import Section2 from "@/components/home/Section2";
import Section3 from "@/components/home/Section3";
import Section4 from "@/components/home/Section4";
import Section5 from "@/components/home/Section5";
import Section6 from "@/components/home/Section6";
import Section7 from "@/components/home/Section7";
import Section8 from "@/components/home/Section8";
import Section9 from "@/components/home/Section9";
import Section10 from "@/components/home/Section10";
import Section11 from "@/components/home/Section11";
import Section12 from "@/components/home/Section12";
import Section13 from "@/components/home/Section13";
import Section14 from "@/components/home/Section14";
import Section15 from "@/components/home/Section15";
import Section16 from "@/components/home/Section16";
import Section17 from "@/components/home/Section17";

export default {
  layout: "homeLayout",

  //for statistics
  async asyncData({ $axios }) {
    try {
      const statData = await $axios.$post(
        `https://www.lendbox.in/getSummaryInfo`
      );
      const data = statData.data;
      // console.log("statData is", data);
      const {
        registeredInvestors,
        totalDisbursed,
        registeredBorrowers,
        lastMonthLoanAskedFor,
        averageReturns
      } = data || {};
      const [regInv, totalDis, regBor, asked, avgRet] = [
        registeredInvestors || 0,
        totalDisbursed || 0,
        registeredBorrowers || 0,
        lastMonthLoanAskedFor || 0,
        averageReturns || 0
      ];
      // console.log(regInv, totalDis, regBor, asked, avgRet);
      return {
        regInv,
        totalDis,
        regBor,
        asked,
        avgRet
      };
    } catch ({ response, message }) {
      return 0;
    }
    //stat end

    // const statData= $axios.$post(`getSummaryInfo`)
    // .then((res) => {
    //   console.log(res.data);
    //   return { title: res.data }
    // })
  },
  components: {
    Section1,
    Section2,
    Section3,
    Section4,
    Section5,
    Section6,
    Section7,
    Section8,
    Section9,
    Section10,
    Section11,
    Section12,
    Section13,
    Section14,
    Section15,
    Section16,
    Section17
  }
};
</script>
<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
#lb-home {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  .bg-sml-img {
    display: none;
  }
  .lb-section {
    &:nth-child(2) {
      padding: 7.1429rem 0 0 0;
    }
    &:nth-child(4) {
      padding: 1.7857rem 0 1.7857rem 0;
    }

    &:nth-child(5) {
      padding: 1.7857rem 0 1.7857rem 0;
    }
    &:nth-child(6) {
      padding: 1.7857rem 0 1.7857rem 0;
    }
    &:nth-child(7) {
      padding: 1.7857rem 0 1.7857rem 0;
    }
    &:nth-child(8) {
      padding: 1.7857rem 0 1.7857rem 0;
    }
    &:nth-child(9) {
      padding: 1.7857rem 0 3.5714rem 0;
    }
    &:nth-child(10) {
      padding: 3.5714rem 0 3.5714rem 0;
    }
    &:nth-child(11) {
      padding: 3.5714rem 0 1.7857rem 0;
    }
    &:nth-child(12) {
      padding: 1.7857rem 0 3.5714rem 0;
    }
    &:nth-child(13) {
      padding: 3.5714rem 0 3.5714rem 0;
    }
    &:nth-child(14) {
      padding: 2.1429rem 0 1.7857rem 0;
    }
    &:nth-child(15) {
      padding: 1.7857rem 0 1.7857rem 0;
    }
    &:nth-child(16) {
      padding: 1.7857rem 0 4.2857rem 0;
      border-bottom: 0.0714rem solid #f5f5f5;
    }
    &:nth-child(17) {
      padding: 3.5714rem 0 3.5714rem 0;
      border-bottom: 0.0714rem solid #f5f5f5;
      border-bottom: 0.0714rem solid #f5f5f5;
    }
    &:nth-child(18) {
      padding: 3.5714rem 0 2rem 0;
    }
  }
  @media only screen and(min-width: 768px) {
    .bg-sml-img {
      display: block;

      &.section-3-4 {
        top: 15%;
        width: 50%;
        right: -20%;
        transform: rotate(-45deg);
      }
      &.section-4-5 {
        top: 30%;
        width: 50%;
        left: -20%;
        transform: rotate(140deg);
      }
      &.section-5-6 {
        top: 45%;
        width: 40%;
        right: -20%;
        transform: rotate(-45deg);
      }
    }
    .lb-section {
      &:nth-child(2) {
        padding: 7.0714rem 0 0 0;
      }
      &:nth-child(4) {
        padding: 7.1429rem 0 3.5714rem 0;
      }

      &:nth-child(5) {
        padding: 3.5714rem 0 3.5714rem 0;
      }
      &:nth-child(6) {
        padding: 3.5714rem 0 3.5714rem 0;
      }
      &:nth-child(7) {
        padding: 3.5714rem 0 3.5714rem 0;
      }
      &:nth-child(8) {
        padding: 3.5714rem 0 3.5714rem 0;
      }
      &:nth-child(9) {
        padding: 3.5714rem 0 7.1429rem 0;
      }
      &:nth-child(10) {
        padding: 7.1429rem 0 7.1429rem 0;
      }
      &:nth-child(11) {
        padding: 3.5714rem 0 7.1429rem 0;
      }
      &:nth-child(12) {
        padding: 3.5714rem 0 10.7143rem 0;
      }
      &:nth-child(13) {
        padding: 3.5714rem 0 3.5714rem 0;
      }
      &:nth-child(14) {
        padding: 3.5714rem 0 7.1429rem 0;
      }
      &:nth-child(15) {
        padding: 3.5714rem 0 3.5714rem 0;
      }
      &:nth-child(16) {
        padding: 3.5714rem 0 1.7857rem 0;
        border-bottom: 0.0714rem solid #f5f5f5;
      }
      &:nth-child(17) {
        padding: 1.7857rem 0 1.7857rem 0;
        border-bottom: 0.0714rem solid #f5f5f5;
        border-bottom: 0.0714rem solid #f5f5f5;
      }
      &:nth-child(18) {
        padding: 3.5714rem 0 2rem 0;
      }
    }
  }
  @media only screen and(min-width: 1360px) {
    .bg-sml-img {
      display: block;

      &.section-3-4 {
        top: 15%;
        width: 50%;
        right: -20%;
        transform: rotate(-45deg);
      }
      &.section-4-5 {
        top: 30%;
        width: 50%;
        left: -20%;
        transform: rotate(140deg);
      }
      &.section-5-6 {
        top: 45%;
        width: 40%;
        right: -20%;
        transform: rotate(-45deg);
      }
    }
    .lb-section {
      &:nth-child(2) {
        padding: 7.0714rem 0 0 0;
      }
      &:nth-child(4) {
        padding: 12.1429rem 0 6.0714rem 0;
      }

      &:nth-child(5) {
        padding: 6.0714rem 0 6.0714rem 0;
      }
      &:nth-child(6) {
        padding: 6.0714rem 0 6.0714rem 0;
      }
      &:nth-child(7) {
        padding: 6.0714rem 0 6.0714rem 0;
      }
      &:nth-child(8) {
        padding: 6.0714rem 0 6.0714rem 0;
      }
      &:nth-child(9) {
        padding: 6.0714rem 0 6.0714rem 0;
      }
      &:nth-child(10) {
        padding: 7.1429rem 0 7.1429rem 0;
      }
      &:nth-child(11) {
        padding: 12.1429rem 0 6.0714rem 0;
      }
      &:nth-child(12) {
        padding: 6.0714rem 0 12.1429rem 0;
      }
      &:nth-child(13) {
        padding: 7.1429rem 0 7.1429rem 0;
      }
      &:nth-child(14) {
        padding: 6.0714rem 0 6.0714rem 0;
      }
      &:nth-child(15) {
        padding: 6.0714rem 0 15.1429rem 0;
      }
      &:nth-child(16) {
        padding: 2.0714rem 0 2.0714rem 0;
        border-bottom: 0.0714rem solid #f5f5f5;
      }
      &:nth-child(17) {
        padding: 6.0714rem 0 6.0714rem 0;
        border-bottom: 0.0714rem solid #f5f5f5;
        border-bottom: 0.0714rem solid #f5f5f5;
      }
      &:nth-child(18) {
        padding: 6.0714rem 0 2rem 0;
      }
    }
  }
}
</style>